@media screen and (max-width: 1260px) {
  header {
    height: 110px;

    .conteneur-header {
      .conteneur-logo {
        display: flex;
        align-items: center;
        max-height: 100px;
        width: 160px;

        .logo {
          height: 80px;
        }
      }

      .wrapper-header {
        .surheader {
          height: 35px;

          .menu-surheader {
            ul {
              li {
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .megamenu {
    .dropdown-megamenu {
      top: 110px;
    }

    .menu-desktop {
      > li { // 1e niveau
        padding: 0 25px;

        > a {
          font-size: 15px;
          height: 75px;
        }

        > ul {
          top: 110px;
        }
      }
    }
  }

  .page-wrapper {
    padding-top: 110px;
    section.actualites-evenements {
      margin-top: 40px;
      .conteneur-actualites-evenements {
        .dernieres-actualites {
          @include make-col(6);
          .titre-section {
            font-size: 35px;
          }

          .slider-actualites {
            margin-right: 15px;

            .actualite {
              .header-detail {
                .date {
                  font-size: 16px;
                }
              }

              .titre {
                font-size: 21px;
              }
            }
          }

          .footer-dernieres-actualites {
            margin-right: 15px;
          }
        }

        .prochains-evenements {
          @include make-col(6);
          .titre-section {
            font-size: 35px;
          }

          .conteneur-evenements {
            margin-left: 0;

            .evenement {
              margin-bottom: 30px;

              .date {
                font-size: 17px;
                width: 75px;
                height: 75px;
              }

              .conteneur-detail {
                .secteur {
                  font-size: 14px;
                }

                .titre {
                  font-size: 16px;
                }
              }
            }
          }

        }
      }
    }

    &.home {
      section.section-recherche {
        .conteneur-recherche-home {
          padding-top: 160px;
          .arrow {
            &.arrow-prev {
              padding-left: 10px;
            }
            &.arrow-next {
              padding-right: 10px;
            }
          }

          .recherche {
            .input-group {
              height: 50px;
            }
          }

          .mots-cles {
            strong {
              display: block;
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }

      section.section-prestations {
        .titre-section {
          padding-left: 0;
        }
      }

      section.section-success-stories {
        .conteneur-success-stories {
          .titre-section {
            margin-left: 0;
          }

          .slider-success-stories {
            .groupe-success-story {
              margin: 0;

              .conteneur-story {
                @include make-col-offset(0);
                @include make-col(12);

                &:nth-of-type(2) {
                  .story {
                    margin-left: 0;

                    .visuel {
                      -webkit-transform: translateX(0);
                      -moz-transform: translateX(0);
                      -ms-transform: translateX(0);
                      -o-transform: translateX(0);
                      transform: translateX(0);
                    }
                  }
                }
              }
            }
          }
        }
      }

      section.actualites-evenements {
        .conteneur-actualites-evenements {
          .dernieres-actualites {
            @include make-col(6);

            .slider-actualites {
              margin-right: 15px;

              .actualite {
                .header-detail {
                  .date {
                    font-size: 16px;
                  }
                }

                .titre {
                  font-size: 21px;
                }
              }
            }

            .footer-dernieres-actualites {
              margin-right: 15px;
            }
          }

          .prochains-evenements {
            @include make-col(6);

            .conteneur-evenements {
              margin-left: 0;

              .evenement {
                margin-bottom: 30px;

                .date {
                  font-size: 17px;
                  width: 75px;
                  height: 75px;
                }

                .conteneur-detail {
                  .secteur {
                    font-size: 14px;
                  }

                  .titre {
                    font-size: 16px;
                  }
                }
              }
            }

          }
        }
      }

      section.section-ressources-documentaires {
        .liste-ressources {
          @include row-cols(4);

          .ressource {
            &:first-of-type {
              @include make-col-offset(0);
            }
          }
        }
      }

      section.section-secteurs {
        background-image: none;

        .conteneur-section {
          .titre-section {
            @include title-section($titre-home, $background: $bg, $alignment: right);
          }
        }

        .conteneur-secteurs {
          @include row-cols(3);

          .conteneur-secteur {

            .secteur {
              .conteneur-visuel {
                .titre {
                  background: $bg;
                }
              }
            }
          }
        }
      }

      section.nous-suivre {
        .conteneur-nous-suivre {
          justify-content: space-between;
        }

        .titre-section {
          margin-right: 0;
        }
      }
    }

    &.single {
      &.page-secteur, &.page-prestation {
        section.projets-recherche {
          padding-bottom: 60px;
          .header-recherche {
            padding-top: 50px;
          }
          .conteneur-projets {
            @include destroy-row();
            .conteneur-projet {
              @include destroy-col();
              .projet {
                padding: 0 15px;
                .conteneur-visuel {
                  width: 100%;
                }
              }
            }
          }
          .footer-recherche {
            @include flex(center, center);
          }
        }
        section.section-realisations {
          .realisations {
            .conteneur-realisations {
              @include destroy-row();
              .conteneur-realisation {
                @include destroy-col();
                margin: 0 !important;
                padding: 0 15px;
                .realisation {
                  .conteneur-visuel {
                    width: 100%;
                    .visuel {
                      width: 100%;
                    }
                  }
                  .conteneur-detail {
                    position: relative;
                    width: 100%;
                    bottom: unset;
                    left: unset;
                    @include transform(translate(0,0));
                    opacity: 1;
                  }
                }
              }
            }
            .footer-realisations {
              .nav-slider {
                @include flex(center, center);
              }
            }
          }
        }
      }
      .zone-carateristiques {
        align-items: flex-start;
        justify-content: flex-start;
        .caracteristique {
          align-items: flex-start;
          img{
            margin-right: 10px;
          }
        }

      }
    }

    &.liste {
      &.liste-success-stories {
        section.section-filtres {
          .conteneur-filtres {
            form.form-filtres {
              .form-group {
                width: 100%;
                &.form-text {
                  width: 100%;
                  align-self: unset;
                }
              }
            }
          }
        }
      }
      &.liste-projets {
        section.section-filtres {
          .conteneur-filtres {
            form.form-filtres {
              .form-group {
                width: 50%;

                &.form-text, &.form-check {
                  width: 50%;
                }
                &.form-text {
                  order: 1;
                }
                &.form-check {
                  order: 2;
                  align-items: center;
                }
              }
              .reinit, .btn-submit {
                order: 3;
              }
            }
          }
        }
      }
      section.section-filtres {
        .conteneur-filtres {
          padding-top: 70px;
          padding-bottom: 55px;
          .titre-section {
            font-size: 40px;
          }
          form.form-filtres {
            @include flex(flex-end, center);
            .form-group {
              width: 50%;
            }
          }
        }
      }
      section.indispensables {
        .conteneur-indispensables {
          .conteneur-indispensable {
            .indispensable {
              .picto {
                width: 50px;
              }
              .titre-indispensable {
                font-size: 16px;
              }
            }
          }
        }
      }
      section.section-liste {

        .conteneur-liste {
          .conteneur-elements {

            .conteneur-element {
              @include make-col(6);

            }
          }
        }
      }
      section.success-stories {
        .groupe-success-story {
          margin: 0;

          .conteneur-story {
            @include make-col-offset(0);
            @include make-col(12);

            &:nth-of-type(2) {
              .story {
                margin-left: 0;

                .visuel {
                  -webkit-transform: translateX(0);
                  -moz-transform: translateX(0);
                  -ms-transform: translateX(0);
                  -o-transform: translateX(0);
                  transform: translateX(0);
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    section.section-surfooter {
      padding-top: 50px;
      .surfooter {
        .conteneur-menu {
          .element-footer {
            &.conteneur-rappel-menu, &.pour-en-savoir-plus {
              @include make-col(12);
            }

            &.conteneur-rappel-menu {
              .rappel-menu {
                > ul {
                  > li {
                    > a {
                      font-size: 17px;
                      min-height: 42px;
                      margin-bottom: 10px;
                    }
                    > ul {
                      li {
                        margin-bottom: 7px;
                        a {
                          font-size: 14px;
                          line-height: 17px;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.pour-en-savoir-plus {
              .conteneur-en-savoir-plus {
                .liens {
                  h3 {
                    min-height: unset;
                    font-size: 17px;
                    margin-bottom: 10px;
                  }
                  ul {
                    margin-bottom: 20px;
                    li {
                      margin-bottom: 7px;
                      a {
                        font-size: 14px;
                        line-height: 17px;
                      }
                    }
                  }
                }
              }
            }

            .titre-footer {
              margin-bottom: 25px;
            }
          }
        }
        .conteneur-liens {
          padding: 20px 0;
          .element-footer {
            &.cti-french-fab, &.reseaux-sociaux {
              @include make-col(12);
            }
            &.cti-french-fab {
              order: 2;
            }
            &.reseaux-sociaux {
              order: 1;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
