@media screen and (max-width: 576px) {
  .page-wrapper {
    section.actualites-evenements {
      .conteneur-actualites-evenements {
        .dernieres-actualites {
          .footer-dernieres-actualites {
            flex-direction: column;

            .nav-slider {
              margin-right: 0;
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    &.home {
      section.actualites-evenements {
        .conteneur-actualites-evenements {
          .dernieres-actualites {
            .footer-dernieres-actualites {
              flex-direction: column;

              .nav-slider {
                margin-right: 0;
                margin-bottom: 30px;
              }
            }
          }
        }
      }

      section.nous-suivre {
        .rs {
          width: 50px;
          height: 50px;
          font-size: 22px;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }

    .page {
      .page-inner {
        .main-content {
          .titre-page {
            font-size: 30px;
            padding: 0;
            background: none;
          }
        }
      }
    }
    &.single{
      .zone-carateristiques{
        display: block;
        .caracteristique{
          margin-right: 0;
        }
      }
      &.page-404{
        .page{
          .page-inner{
            .main-content{
              .more-buttons{
                display: block;
                .conteneur-cta{
                  margin-right: 0;
                  margin-left: 0;
                }
              }
            }
          }
        }

      }
    }

  }

  aside.conteneur-sidebar {
    .sidebar {
      margin-top: 30px;
      .widget {
        .conteneur-elements {
          li {
            .element-sidebar {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  footer {
    section.section-cta {
      .row-cta {
        .conteneur-cta {
          text-align: center !important;

          &::before {
            display: none;
          }

          .titre-section {
            text-align: center !important;
          }
        }
      }
    }

    section.section-surfooter {
      .surfooter {
        .conteneur-menu {
          .element-footer {
            &.conteneur-rappel-menu {
              text-align: center;
              .rappel-menu {
                > ul {
                  @include row-cols(1);
                  text-align: center;
                  > li {
                    > a {
                      justify-content: center;
                    }
                  }
                }
              }
            }
            &.pour-en-savoir-plus {
              text-align: center;
              .conteneur-en-savoir-plus {
                @include row-cols(1);
                text-align: center;
                h3 {
                  justify-content: center;
                  text-align: center;
                }
              }
            }
          }
        }
        .conteneur-liens {
          .element-footer {
            &.cti-french-fab {
              .liens {
                justify-content: center;
                .lien {
                  margin-right: 20px;
                  margin-left: 20px;
                }
              }
            }
            &.reseaux-sociaux {
              .titre-footer {
                justify-content: center;
              }
              .conteneur-rs {
                justify-content: center;
              }
            }
          }
        }
      }
    }

    section.section-subfooter {
      .subfooter {
        .menu-subfooter {
          ul {
            flex-direction: column;
            li {
              &::before {
                display: none;
                padding-left: 0;
                margin-left: 0;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}