@media screen and (max-width: 768px) {
  .page-wrapper {
    &.home {
      section.section-recherche {
        .conteneur-recherche-home {
          h1 {
            font-size: 23px;
          }
        }
      }

      section.section-success-stories {
        .conteneur-success-stories {
          .slider-success-stories {
            .conteneur-story {
              .story {
                .visuel, .conteneur-detail {
                  @include make-col(12);
                }

                .conteneur-detail {
                  padding-top: 20px;
                  text-align: center;

                  h3 {

                  }
                }
              }
            }
          }

          .footer-success-stories {
            flex-direction: column;

            .nav-slider {
              margin-right: 0;
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    &.single {

      .conteneur-carrefour {

        .liste-enfants {
          @include row-cols(1);

          .conteneur-enfant {
            @include make-col-ready();
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $danger;

            .enfant {
              .titre-enfant {
                font-size: 20px;
              }

              .btn-more {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .wysiwyg, .elementor-text-editor, .elementor .elementor-widget-heading {
        p {
          font-size: 15px;
        }

        table {
          margin-bottom: 30px;

          thead {
            tr {
              td, th {
                font-size: 14px;

              }
            }
          }

          tr {
            td, th {
              padding: 10px 15px;
            }

            th {
              font-size: 15px;
            }

            td {
              font-size: 15px;
            }
          }
        }
      }

      .wysiwyg {
        font-size: 15px;

      }

      .zone-carateristiques {
        .caracteristique {
          margin-right: 10px;
        }

        .date {
          top: -85px;
          left: 0;
        }
      }
      &.single-evenement{
        .zone-carateristiques{
          display: block;
          .caracteristique{
            margin-right: 0;
          }
        }
      }
      &.single-offre-emploi{
        .more-buttons{
          display: block;
          .conteneur-cta{
            margin-bottom: 20px;
            margin-top: 20px;
          }
        }
      }
      &.page-404{
        .page{
          .page-inner{
            .main-content{
              .more-buttons{
                .conteneur-cta{
                  margin-right: 20px;
                  margin-left: 20px;
                }
              }
            }
          }
        }

      }

    }

    &.liste {
      &.liste-offres-emploi {
        section.section-liste {
          .conteneur-liste {
            .conteneur-elements {
              .conteneur-element {
                .element {
                  .conteneur-detail {
                    .titre-element {
                      margin-right: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.liste-evenements {
        section.section-liste {
          background: #eeeeee;
          .conteneur-liste-calendrier {
            .row-liste-calendrier {
              .conteneur-liste {
                @include make-col(12);
                height: auto;
                order: 2;
                .conteneur-mois {
                  .conteneur-elements {
                    .conteneur-element {
                      @include make-col(12);
                    }
                  }
                }
              }
              .conteneur-calendrier {
                @include make-col(12);
                order: 1;
              }
            }
          }
        }
      }

      &.liste-certifications {
        section.section-liste {
          table.tableau-certifications {
            tbody {
              tr {
                width: 100%;
                &:nth-of-type(odd) {
                  td {
                    border-right: none !important;
                  }
                }
              }
            }
          }
        }
      }

      section.section-filtres {
        .conteneur-filtres {
          padding-top: 0;
          .titre-section {
            position: relative;
            top: unset;
            margin-bottom: 30px;
            font-size: 30px;
            padding: 0 25px 20px 15px;
            line-height: 1;
          }
        }
      }

      section.section-liste {
        .conteneur-liste {
          .conteneur-elements {
            .conteneur-element {
              @include make-col(12);
              margin-bottom: 25px;

              .element {
                .conteneur-visuel {
                  .visuel {
                    width: 100%;
                  }
                }

                .conteneur-detail {
                  padding: 20px 20px 10px 20px;

                  .conteneur-date {
                    top: -10px;
                    right: -10px;
                  }

                  .titre-element {
                    font-size: 20px;
                  }

                  .conteneur-infos {
                    .info {
                      margin-bottom: 10px;

                      .conteneur-picto {
                        width: 35px;
                      }

                      .liste-info {
                        a {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      section.success-stories {
        .groupe-success-story {
          .conteneur-story {
            .story {
              .visuel, .conteneur-detail {
                @include make-col(12);
              }

              .conteneur-detail {
                padding-top: 20px;
                text-align: center;

                h3 {

                }
              }
            }
          }
        }
      }
    }

    .page {
      padding-top: 20px;

      .page-inner {
        .main-content {
          .titre-page {
            position: relative;
            max-width: unset;
            top: unset;
            left: unset;
            padding-left: 0;
          }

          .conteneur-thumbnail {
            margin-bottom: 15px;
          }

          .chapo {
            font-size: 17px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  footer {
    section.section-cta {
      .row-cta {
        .conteneur-cta {
          &#cta-newsletter {
            margin-bottom: 30px;
          }
        }
      }
    }

    section.section-subfooter {
      .subfooter {
        flex-direction: column;

        .copywright {
          order: 2;
          margin-top: 10px;
        }

        .menu-subfooter {
          ul {
            li {
              &:first-of-type {
                padding-left: 0;
                margin-left: 0;

                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}