@media screen and (max-width: 992px) {
  .tooltip {
    display: none;
  }

  header {
    height: 75px;

    .conteneur-header {
      .conteneur-logo {
        padding: 3px;

        .logo {
          height: 65px;
        }
      }

      .wrapper-header {
        width: 100%;

        .surheader {
          display: none;
        }
      }
    }
  }

  .page-wrapper {
    padding-top: 75px;
    section.actualites-evenements {
      padding-top: 0;

      .slider-img-actu {
        width: 100vw !important;
      }

      .titre-section {
        margin-top: 0;
        width: 100%;
        text-align: center !important;
        padding: 20px 0 !important;

        &::before {
          width: 150vw;
          left: -25vw;
          right: unset;
          z-index: -1;
        }

        .break {
          display: inline;
        }
      }

      .conteneur-actualites-evenements {
        .dernieres-actualites, .prochains-evenements {
          @include make-col(12);
        }

        .dernieres-actualites {
          .slider-actualites {
            padding-top: 230px;
          }
        }
      }
    }

    &.home {
      section.section-recherche {
        .conteneur-recherche-home {
          padding-top: 80px;
          padding-bottom: 30px;

          h1 {
            max-width: none;
            font-size: 30px;
            padding-bottom: 40px;
          }

          .mots-cles {
            margin-top: 20px;
            text-align: center;

            .mot {
              margin: 0 10px 10px 10px;
            }
          }
        }
      }

      section.section-prestations {
        &::before {
          display: none;
        }

        .titre-section {
          position: relative;
          width: 100%;
          top: unset;
          right: unset;
          text-align: center;
          padding-top: 40px;

          .break {
            display: inline;
          }
        }

        .conteneur-prestations {
          margin-bottom: 50px;
          padding-top: 30px;

          .conteneur-prestation {
            margin-bottom: 0;
            @include destroy-col();

            .prestation {
              display: flex;
              flex-direction: column;
              align-items: center;

              .conteneur-detail {
                position: relative;
                left: unset;
                bottom: unset;
                height: auto;
                overflow: unset;

                .titre {
                  height: auto;
                  margin-top: 0;
                  text-align: center;
                }

                .overlay {
                  height: auto;
                  overflow: unset;
                  opacity: 1;
                }
              }
            }
          }
        }

        .footer-prestations {
          display: flex;
        }
      }

      section.section-success-stories {
        .conteneur-success-stories {
          .titre-section {
            position: relative;
            text-align: center;
            background: none;
          }

          .slider-success-stories {
            margin-top: 50px;
            margin-bottom: 60px;

            .conteneur-story {
              @include make-col(12);
              @include make-col-offset(0);

              .story {
                @include make-row();

                .visuel, .conteneur-detail {
                  @include make-col-ready();
                  @include make-col(6);
                }

                .visuel {
                  margin-right: 0;
                }

                .conteneur-detail {
                  margin-top: 0;

                  .titre {
                    font-size: 25px;
                  }

                  .description {
                    font-size: 16px;
                  }

                  .btn {
                    margin-top: 0;
                  }
                }
              }
            }

          }
        }
      }

      section.actualites-evenements {
        padding-top: 0;

        .slider-img-actu {
          width: 100vw !important;
        }

        .titre-section {
          margin-top: 0;
          width: 100%;
          text-align: center !important;
          padding: 20px 0 !important;

          &::before {
            width: 150vw;
            left: -25vw;
            right: unset;
            z-index: -1;
          }

          .break {
            display: inline;
          }
        }

        .conteneur-actualites-evenements {
          .dernieres-actualites, .prochains-evenements {
            @include make-col(12);
          }

          .dernieres-actualites {
            .slider-actualites {
              padding-top: 230px;
            }
          }
        }
      }

      section.nous-suivre {
        .conteneur-nous-suivre {
          flex-direction: column;
          padding: 50px 15px;

          .titre-section {
            padding-top: 0;
          }
        }
      }

      section.section-ressources-documentaires {
        .conteneur-ressources {
          .titre-section {
            margin-top: 0;
            width: 100%;
            text-align: center !important;
            padding: 20px 0 !important;

            &::before {
              width: 150vw;
              left: -25vw;
              right: unset;
              z-index: -1;
            }
          }

          .liste-ressources {
            @include destroy-row-cols();
          }

          .footer-ressources {
            display: flex;
          }
        }
      }

      section.section-secteurs {
        .conteneur-section {
          .titre-section {
            position: relative;
            width: 100%;
            top: unset;
            right: unset;
            text-align: center;
            padding-top: 40px;

            .break {
              display: inline;
            }
          }
        }

        .conteneur-secteurs {
          @include destroy-row-cols();
          padding: 30px 0 0 0;

          .conteneur-secteur {
            .secteur {
              .conteneur-visuel {
                width: 100%;

                .visuel {
                  width: 100%;
                }

                .titre {
                  position: relative;
                  display: block;
                  left: unset;
                  bottom: unset;
                  height: auto;
                  width: 100%;
                  max-width: unset;
                  text-align: center;
                  -webkit-transform: unset;
                  -moz-transform: unset;
                  -ms-transform: unset;
                  -o-transform: unset;
                  transform: unset;
                  padding: 10px;
                }
              }

              .description {
                margin-top: 0;
              }
            }
          }
        }

        .footer-secteurs {
          display: flex;
        }
      }
    }

    &.single {
      &.page-prestation {
        section.section-realisations {
          margin-top: 50px;
        }
      }
    }

    &.liste {
      section.section-filtres {
        .conteneur-filtres {
          padding-top: 70px;
          padding-bottom: 55px;
          .titre-section {
            font-size: 40px;
            width: 100%;
            left: 0;
            @include transform(translateX(0));
            text-align: center;
          }
          form.form-filtres {
            .form-group {
              width: 100% !important;
              padding: 10px 0;
              &.form-text {
                margin-bottom: 30px;
                margin-top: 25px;
                input {
                  height: 40px;
                }
              }
              .select2 {
                .select2-selection {
                  padding: 2px 60px 2px 70px;
                  border-color: #fff;
                  .select2-selection__choice {
                    background: none;
                    border: none;
                    padding: 0;
                    .select2-selection__choice__remove {
                      float: right;
                      margin-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      section.indispensables {
        .titre-section {
          margin-bottom: 30px;
        }
        .conteneur-indispensables {
          .conteneur-indispensable {
            @include make-col(12);
            margin-bottom: 15px;
            .indispensable {
              .picto {
                width: 50px;
              }
              .titre-indispensable {
                font-size: 16px;
              }
            }
          }
        }
      }
      section.section-liste {
        .conteneur-liste {
          .conteneur-elements {
            .conteneur-element {
              .element {
                .conteneur-visuel {
                  .visuel {
                    width: 100%;
                  }
                }
                .conteneur-detail {
                  padding: 20px 20px 10px 20px;
                  .conteneur-date {
                    top: -40px;
                    @include circle(60px);
                    font-size: 16px;
                  }
                  .titre-element {
                    font-size: 20px;
                  }
                  .conteneur-infos {
                    .info {
                      margin-bottom: 10px;
                      .conteneur-picto {
                        width: 35px;
                      }
                      .liste-info {
                        a {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      section.success-stories {
        .groupe-success-story {
          .conteneur-story {
            @include make-col(12);
            @include make-col-offset(0);

            .story {
              @include make-row();

              .visuel, .conteneur-detail {
                @include make-col-ready();
                @include make-col(6);
              }

              .visuel {
                margin-right: 0 !important;
              }

              .conteneur-detail {
                margin-top: 0;

                .titre {
                  font-size: 25px;
                }

                .description {
                  font-size: 16px;
                }

                .btn {
                  margin-top: 0;
                }
              }
            }
          }
        }
        .footer-success-stories {
          display: flex;
        }
      }

      &.liste-evenements {
        section.section-liste {
          .conteneur-liste-calendrier {
            .row-liste-calendrier {
              .conteneur-liste {
                @include make-col(7);
                .conteneur-mois {
                  .conteneur-elements {
                    .conteneur-element {
                      @include make-col(12);
                    }
                  }
                }
              }
              .conteneur-calendrier {
                @include make-col(5);
              }
            }
          }
        }
      }
      &.liste-success-stories {
        section.section-filtres {
          .conteneur-filtres {
            .titre-section {
              width: 100%;
            }
          }
        }
      }
      &.liste-projets {
        section.section-filtres {
          .conteneur-filtres {
            form.form-filtres {
              .form-group {
                &.form-text {
                  margin-bottom: 0;
                }
                &.form-check {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
      &.liste-certifications {
        section.section-filtres {
          .conteneur-filtres {
            .titre-section {
              width: 100%;
            }
          }
        }
        section.section-liste {
          table.tableau-certifications {
            display: block;
            thead {
              display: none;
            }

            tbody {
              @include flex(flex-start);
              flex-wrap: wrap;
              tr {
                @include flex(center, center, column);
                width: 50%;
                &:nth-of-type(odd) {
                  td {
                    border-right: 1px solid #c5b691 !important;
                  }
                }
                td {
                  display: block;
                  border: none !important;
                  width: 100%;
                  padding: 5px;
                  &:nth-of-type(2) {
                    text-align: center;
                  }
                  &:nth-of-type(3) {
                    text-align: center;
                  }
                  &:last-of-type {
                    border-bottom: 1px solid #c5b691 !important;
                  }
                  .logo {
                    min-width: unset;
                  }
                }
              }
            }
          }
        }
      }
    }

    .conteneur-ariane {
      .breadcrumbs {
        display: none;
      }
    }

    .page {
      .page-inner {
        .main-content {
          .titre-page {
            font-size: 40px;
            padding: 5px 15px;
          }
        }
      }
    }
  }

  aside.conteneur-sidebar {
    .sidebar {
      margin-top: 30px;
    }
  }

  footer {
    section.section-cta {
      &::before {
        display: none;
      }

      .row-cta {
        @include destroy-row-cols();

        .conteneur-cta {
          @include make-col(12);

          &#cta-newsletter {
            .titre-section {
              @include title-section($primary, $size: 30px, $background: none);
            }
          }

          &#cta-contact {
            .titre-section {
              @include title-section($primary, $size: 30px, $alignment: right, $background: none);
            }
          }

          .description {
            font-size: 17px;
          }
        }
      }
    }

    section.section-surfooter {
      padding-top: 50px;

      .surfooter {
        .conteneur-menu {
          .element-footer {
            &.conteneur-rappel-menu {
              .rappel-menu {
                > ul {
                  @include row-cols(2);
                }
              }
            }
          }


        }
      }
    }
  }
}