/*
-- README --
Ce fichier style le menu en version mobile.
Ici, la transition se fait à partir de 991px de largeur. Vous êtes libre de changer cette valeur, mais respecter les breakpoints de Bootstrap.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Les niveaux 1 ne sont pas cliquables dans cette version. En cas de besoin, vous pouvez reprendre et adapter la structure des niveaux 2 pour les niveaux 1.
Burger proposé sur 3 niveaux de profondeur. En cas de niveaux 4, se contenter de pages carrefour.
*/

@media screen and (max-width: 991px) {
  .megamenu {
    display: none;
  }

  .burger {
    &.active {
      .conteneur-menu-mobile {
        display: block;
      }
    }

    // global
    ul {
      list-style: none;
      padding: 0 15px;
      margin-bottom: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid $gray-400;
      }
    }

    .plus {
      display: inline-block;
      width: 25px;
      height: 25px;
      background: url('../img/pictos/plus-burger.png') no-repeat center center;
      background-size: cover;
      font-style: 0;
      margin-left: 10px;
    }
    .conteneur-burger {
      display: flex;
      justify-content: flex-end;
      .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        padding-bottom: 8px;
      }
    }
    .conteneur-menu-mobile {
      display: none;
      position: fixed;
      top: 75px;
      bottom: 0;
      right: 0;
      left: 0;
      background: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling
      .burger-header {
        position: relative;
        display: block;
        height: 70px;
        &.active {
          .retour-burger {
            display: block;
          }
        }
        .rappel-menu {
          color: $info;
          font-size: 25px;
          font-weight: 700;
        }
        .retour-burger {
          display: none;
        }
        .burger-header-inner {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px;
        }
      }

      .burger-footer {
        z-index: 0;
        .menu-surheader-mobile {
          margin-top: 30px;
          ul {
            padding: 0;
            margin-bottom: 0;
            li {
              border-bottom: none;
              padding: 5px 0;
              justify-content: center;
              a {
                color: $secondary;
                font-weight: 400;
                font-size: 16px;
              }
            }
          }
        }
        .changer-langue-mobile {
          position: relative;
          margin-top: 30px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .choix-langue {
            width: 40px;
            height: 40px;
          }
        }
        .recherche {
          margin-top: 30px;
          .input-group {
            position: relative;
            height: 50px;
            width: 100%;
            border: 1px solid $beige;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            overflow: hidden;

            input {
              height: 100%;
              border: none;
              padding: 0 30px;
              color: $typo;
              font-size: 19px;
              font-weight: normal;

              &::placeholder {
                color: $info;
                font-style: italic;
              }
            }

            .submit-recherche {
              position: relative;
              width: 80px;
              height: 100%;
              background: #fff;
              border: none;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: {
                  image: url("../img/pictos/search.svg");
                  repeat: no-repeat;
                  position: center center;
                  size: 35px;
                };
              }

              span {
                @include rgaa-hidden();
              }
            }
          }
        }

        .conteneur-rs {
          display: block !important;
          width: 100%;
          padding-top: 50px;
          text-align: center;
          .rs {
            font-size: 25px;
            padding: 15px 30px;
            margin-right: 0;
          }
        }
      }

      .menu-mobile {
        position: relative;
        z-index: 1;
        transition: all 300ms;
        > li { // niveaux 1
          font-size: 16px;
          text-transform: uppercase;
          > a {
            color: $primary;
          }

          > ul { // conteneur niveau 2
            > li { // niveaux 2
              font-size: 14px;
              font-weight: 500;
              text-transform: uppercase;
              > a {
                color: $secondary;
              }

              > ul { // conteneur niveau 3
                > li { // niveaux 3
                  font-size: 13px;
                  //font-style: italic;
                  > a {
                    color: $primary;
                  }
                }
              }
            }
          }


          ul { // tous les sous-niveaux
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: calc(100vh - 145px);
            background: #fff;
            padding: 0 15px;
            transform: translateX(100vw);
            transition: transform 300ms;
            &.active {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
