footer {
  section.section-cta {
    position: relative;
    padding: 70px 15px 55px 15px;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      background: $beige;
    }

    .row-cta {
      @include make-row();
      @include row-cols(2);

      .conteneur-cta {
        position: relative;
        @include make-col-ready();

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          background: {
            position: center center;
            repeat: no-repeat;
          };
        }

        &#cta-newsletter {
          &::before {
            left: -40px;
            width: 90px;
            height: 90px;
            background-image: url('../img/pictos/cta-newsletter.png');
          }

          .titre-section {
            @include title-section($primary, $size: 35px, $background: none);
          }
        }

        &#cta-contact {
          text-align: right;

          &::before {
            right: -55px;
            width: 86px;
            height: 86px;
            background-image: url('../img/pictos/cta-contact.png');
          }

          .titre-section {
            @include title-section($primary, $size: 35px, $alignment: right, $background: none);
          }
        }

        .titre-section {
          margin-bottom: 20px;
        }

        .description {
          font: {
            size: 19px;
            weight: 300;
          };
          color: $primary;
          margin-bottom: 25px;
        }

        .btn {
          @include button-outline-variant($beige);
        }
      }
    }
  }

  section.section-surfooter {
    background: {
      image: url('../img/footer/footer.jpg');
      repeat: no-repeat;
      size: cover;
      position: center center;
    };
    padding-top: 85px;

    .surfooter {
      .conteneur-menu {
        @include make-row();

        .element-footer {
          @include make-col-ready();

          &.conteneur-rappel-menu {
            @include make-col(8);

            .rappel-menu {
              // global
              li {
                a {
                  display: block;
                  color: #fff;
                }

                ul {
                  padding-left: 0;
                }
              }

              > ul {
                @include make-row();
                @include row-cols(4);
                padding-left: 0;

                > li { // 1e niveau
                  @include make-col-ready();

                  > a {
                    display: flex;
                    align-items: flex-end;
                    min-height: 45px;
                    font: {
                      size: 20px;
                      weight: 600;
                    }
                    text-transform: uppercase;
                    line-height: 20px;
                    margin-bottom: 25px;
                    @include underline-push(#fff, $distance: 6px);
                  }

                  > ul { // 2e niveau
                    li {
                      margin-bottom: 10px;

                      &:hover {
                        @media screen and (min-width: 992px) {
                          a {
                            -webkit-transform: translateX(7px);
                            -moz-transform: translateX(7px);
                            -ms-transform: translateX(7px);
                            -o-transform: translateX(7px);
                            transform: translateX(7px);
                          }
                        }
                      }

                      a {
                        font: {
                          size: 16px;
                          weight: 500;
                        };
                        line-height: 22px;
                        -webkit-transition: all 300ms;
                        -moz-transition: all 300ms;
                        -ms-transition: all 300ms;
                        -o-transition: all 300ms;
                        transition: all 300ms;

                      }
                    }
                  }
                }
              }

            }
          }

          &.pour-en-savoir-plus {
            @include make-col(4);

            .conteneur-en-savoir-plus {
              @include make-row();
              @include row-cols(2);

              .liens {
                @include make-col-ready();

                a {
                  color: #fff;
                }

                h3 {
                  display: flex;
                  align-items: flex-end;
                  min-height: 45px;
                  font: {
                    size: 20px;
                    weight: 600;
                  }
                  color: #fff;
                  text-transform: uppercase;
                  line-height: 20px;
                  margin-bottom: 25px;

                  a {
                    position: relative;
                    display: inline-block;
                    @include underline-push(#fff, $distance: 6px);
                  }
                }

                ul {
                  padding-left: 0;

                  li {
                    margin-bottom: 10px;

                    &:hover {
                      @media screen and (min-width: 992px) {
                        a {
                          -webkit-transform: translateX(7px);
                          -moz-transform: translateX(7px);
                          -ms-transform: translateX(7px);
                          -o-transform: translateX(7px);
                          transform: translateX(7px);
                        }
                      }
                    }

                    a {
                      display: inline-block;
                      font: {
                        size: 16px;
                        weight: 500;
                      };
                      line-height: 22px;
                      -webkit-transition: all 300ms;
                      -moz-transition: all 300ms;
                      -ms-transition: all 300ms;
                      -o-transition: all 300ms;
                      transition: all 300ms;
                    }
                  }
                }
              }
            }
          }

          .titre-footer {
            position: relative;
            display: inline-block;
            font: {
              size: 28px;
              weight: bold;
            };
            color: #fff;
            margin-bottom: 50px;

            &::after {
              content: '';
              position: absolute;
              bottom: -1px;
              left: 0;
              width: 100%;
              height: 2px;
              background: #fff;
            }
          }
        }
      }

      .conteneur-liens {
        @include make-row();
        padding: 40px 0;

        .element-footer {
          @include make-col-ready();

          &.cti-french-fab {
            @include make-col(8);

            .liens {
              display: flex;
              align-items: center;
              margin-bottom: 30px;

              .lien {
                margin-right: 40px;
              }
            }

            .description {
              color: #fff;
              font-size: 13px;
              font-weight: 500;

              strong {
                display: block;
                font-weight: 700;
              }
            }
          }

          &.reseaux-sociaux {
            @include make-col(4);

            .titre-footer {
              display: flex;
              font: {
                size: 20px;
                weight: 600;
              }
              color: #fff;
              text-transform: uppercase;
              line-height: 20px;
              margin-bottom: 25px;
            }

            .conteneur-rs {
              display: flex;
              align-items: center;

              .rs {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 30px;
                color: #fff;
                font-size: 23px;
                @include rotate-children();

                svg {
                  width: 68px;
                  height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }

  section.section-subfooter {
    .subfooter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px 0;
      color: $primary;
      font-size: 14px;
      font-weight: 500;

      .menu-subfooter {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          list-style: none;
          margin-bottom: 0;
          padding-left: 0;

          li {
            position: relative;
            padding-left: 10px;
            margin-left: 10px;

            &::before {
              content: '|';
              position: absolute;
              left: 0;
              top: -1px;
              font-size: 13px;
            }

            a {
              color: $primary;
              @include underline($primary, $danger);
            }
          }
        }
      }
    }
  }
}