body {
  -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling
  overflow-x: hidden;

  &.no-scroll {
    position: fixed; // FIX IOS : évite que le body défile (overflow insuffisant)
    overflow: hidden;
  }

  &.modal-open {
    header {
      padding-right: 17px;
    }
  }
}

.page-wrapper {
  padding-top: 75px; // hauteur du header sticky à compenser
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

pre{
  display: table;
  width: 100%;
}

.tableau-responsive {
  overflow-x: auto;
}

.rgaa-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

* {
  outline: none !important;
}

.nav-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.nav-slider-white {
    .arrow {
      &.prev {
        background: {
          image: url('../img/pictos/angle-left-white.png');
        };
      }
      &.next {
        background: {
          image: url('../img/pictos/angle-right-white.png');
        };
      }
    }
    .slick-dots {
      li {
        &.slick-active {
          button {
            background: #fff;
          }
        }
        button {
          border-color: #fff;
        }
      }
    }
  }
  .arrow {
    position: relative;
    width: 15px;
    height: 20px;
    background: {
      repeat: no-repeat;
      position: center center;
    };
    cursor: pointer;
    &.prev {
      order: 0;
      background: {
        image: url('../img/pictos/angle-left.png');
      };
    }
    &.next {
      order: 2;
      background: {
        image: url('../img/pictos/angle-right.png');
      };
    }
  }
  .slick-dots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    bottom: unset;
    order: 1;
    margin: 0 17px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      &.slick-active {
        button {
          background: $primary;
        }
      }
      button {
        position: relative;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid $primary;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        &::before {
          display: none;
        }
      }

    }
  }
}