/*
-- README --
Ce fichier style le header.
2 Headers sont proposés :
- full sticky header (par défaut) : la totalité du header est sticky et reste inchangée quand on scroll
- sticky header partiel : seulement une partie du header devient sticky au scroll (en général, la partie avec le menu). Vous devrez décommentez le sticky header partiel et commentez le full sticky header pour changer de configuration. Une partie en JS sera aussi à décommenter.
Vous pouvez changer l'apparence d'un full sticky header au scroll (pour diminuer certaines parties ou changer sa couleur par exemple) en adaptant le JS d'un sticky header partiel pour ajouter une class au scroll.
NB : en responsive, il faudra sans doute adapter le header et placer certains éléments dans le menu burger (réseaux sociaux, recherche, autres liens, etc) afin de gagner de la place.
*/


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 145px;
  background: #fff;
  z-index: 10;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -ms-transition: height 300ms;
  -o-transition: height 300ms;
  transition: height 300ms;
  &.scrolling {
    height: 110px;
    .conteneur-header {
      .conteneur-logo {
        display: flex;
        align-items: center;
        max-height: 100px;
        .logo {
          height: 80px;
        }
      }
      .wrapper-header {
        .surheader {
          height: 35px;
          .menu-surheader {
            ul {
              li {
                a {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .megamenu {
      .dropdown-megamenu {
        top: 110px;
      }
      .menu-desktop {
        > li {
          > a {
            height: 75px;
          }
          > ul {
            top: 110px;
          }
        }
      }
    }
  }

  // global
  .choix-langue {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    flex-shrink: 0;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    };
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    &.fr {
      background-image: url('../img/pictos/fr.jpg');
    }
    &.en {
      background-image: url('../img/pictos/eng.jpg');
    }
    &:hover {
      @include media-breakpoint-up(lg) {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }



  .conteneur-header {
    display: flex;
    position: relative;
    border-bottom: 1px solid #f0efef;
    .conteneur-logo {
      position: relative;
      display: inline-block;
      padding: 15px;
      background: #fff;
      overflow: hidden;
      width: 210px;
      flex-shrink: 0;
      &:hover {
        @include media-breakpoint-up(lg) {
          .logo {
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            -ms-transform: rotateX(90deg);
            -o-transform: rotateX(90deg);
            transform: rotateX(90deg);
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms;

          }
          .texte-logo {
            opacity: 1;
            -webkit-transition: all 300ms linear 150ms;
            -moz-transition: all 300ms linear 150ms;
            -ms-transition: all 300ms linear 150ms;
            -o-transition: all 300ms linear 150ms;
            transition: all 300ms linear 150ms;
          }
        }
      }
      .logo {
        height: 93px;
        -webkit-transform-origin: top center;
        -moz-transform-origin: top center;
        -ms-transform-origin: top center;
        -o-transform-origin: top center;
        transform-origin: top center;
        -webkit-transition: all 300ms linear 150ms;
        -moz-transition: all 300ms linear 150ms;
        -ms-transition: all 300ms linear 150ms;
        -o-transition: all 300ms linear 150ms;
        transition: all 300ms linear 150ms;
      }
      .texte-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 22px;
        color: $primary;
        font-weight: 700;
        text-align: center;
        padding-right: 30px;
        opacity: 0;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        
      }
    }
    .wrapper-header {
      display: flex;
      flex-direction: column;
      .surheader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 45px;
        border-bottom: 1px solid $gray-200;
        .menu-surheader {
          display: flex;
          align-items: center;
         ul {
           display: flex;
           list-style: none;
           margin-bottom: 0;
           padding-left: 0;
           margin-right: 30px;
           li {
             position: relative;
             padding-right: 15px;
             margin-right: 10px;
             &::after {
               content: '';
               position: absolute;
               top: 50%;
               right: 0;
               width: 6px;
               height: 6px;
               background: $danger;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               border-radius: 50%;
               -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               -o-transform: translateY(-50%);
               transform: translateY(-50%);
             }
             &:last-of-type {
               padding-right: 0;
               margin-right: 0;
               &::after {
                 display: none;
               }
             }
             a {
               color: $gray-600;
               font-size: 15px;
               @include underline($gray-600, $primary);
             }
           }
         }
        }
        .trigger-recherche {
          background: transparent;
          border: none;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
          &:hover {
            -webkit-transform: rotate(15deg) scale(1.05);
            -moz-transform: rotate(15deg) scale(1.05);
            -ms-transform: rotate(15deg) scale(1.05);
            -o-transform: rotate(15deg) scale(1.05);
            transform: rotate(15deg) scale(1.05);
          }
        }
      }
    }

  }
}