/*
-- README --
Ce fichier est utilisé pour le style de la home (uniquement le contenu de la balise main).
*/

.page-wrapper {
  &.home {
    // global
    .titre-section {
      .break {
        display: block;
      }
    }


    section.section-recherche {
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgb(51, 28, 16);
        background: linear-gradient(0deg, rgba(51, 28, 16, 0.9) 0%, rgba(51, 28, 16, 0) 46%);

      }

      .slider-images {
        position: absolute;
        width: 100%;
        height: 100%;

        * {
          height: inherit;
        }

        .slide-image {
          position: relative;
          display: flex !important;
          align-items: center;
          justify-content: center;

          img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            //height: auto;
            //width: auto;
          }
        }
      }

      .conteneur-recherche-home {
        position: relative;
        z-index: 1;
        padding-top: 250px;
        padding-bottom: 50px;

        .arrow {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          cursor: pointer;
          padding: 30px;
          &.arrow-prev {
            left: 0;
          }
          &.arrow-next {
            right: 0;
          }
        }

        h1 {
          color: #fff;
          font-size: 38px;
          font-weight: 300;
          text-align: center;
          max-width: 840px;
          padding-bottom: 60px;
          margin: auto;
          text-shadow: 7px 7px 70px #000;
          letter-spacing: 1px;

          strong {
            display: block;
            font-weight: 600;
          }
        }

        .recherche {
          .input-group {
            position: relative;
            height: 60px;
            width: 100%;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            overflow: hidden;

            input {
              height: 100%;
              border: none;
              padding: 0 30px;
              color: $typo;
              font-size: 19px;
              font-weight: normal;

              &::placeholder {
                color: $info;
                font-style: italic;
              }
            }

            .submit-recherche {
              position: relative;
              width: 80px;
              height: 100%;
              background: #fff;
              border: none;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: {
                  image: url("../img/pictos/search.svg");
                  repeat: no-repeat;
                  position: center center;
                  size: 35px;
                };
              }

              span {
                @include rgaa-hidden();
              }
            }
          }
        }

        .mots-cles {
          margin-top: 30px;

          strong {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 20px;
          }

          .mot {
            position: relative;
            padding-left: 30px;
            margin-right: 20px;

            &::before {
              content: '';
              position: absolute;
              width: 30px;
              height: 100%;
              top: 0;
              left: 0;
              background: {
                image: url('../img/pictos/tag.png');
                repeat: no-repeat;
                position: center center;
              };
            }
          }
        }
      }

    }

    section.section-prestations {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background: {
          image: url('../img/pictos/scroll.jpg');
          repeat: no-repeat;
          position: center center;
        };
      }

      .titre-section {
        position: absolute;
        top: 40px;
        @include title-section($titre-home, $alignment: right);
        padding-left: 100px;
      }

      .conteneur-prestations {
        position: relative;
        padding-top: 120px;
        @include make-row();

        .conteneur-prestation {
          margin-bottom: 130px;
          @include make-col-ready();
          @include make-col(4);
          @include media-breakpoint-up(xl) {
            @include make-col(3);
            &:first-of-type, &:nth-of-type(4) {
              @include make-col-offset(3);
            }
          }

          .prestation {
            position: relative;
            display: block;

            &:hover {
              @media screen and (min-width: 992px) {
                .conteneur-detail {
                  width: 90%;
                  margin-left: 5%;
                  -webkit-transform: translateY(-70%);
                  -moz-transform: translateY(-70%);
                  -ms-transform: translateY(-70%);
                  -o-transform: translateY(-70%);
                  transform: translateY(-70%);

                  .titre {
                    //text-align: center;
                    margin-top: 0;
                    margin-bottom: 15px;
                  }

                  .overlay {
                    opacity: 1;
                    -webkit-transition: all 300ms;
                    -moz-transition: all 300ms;
                    -ms-transition: all 300ms;
                    -o-transition: all 300ms;
                    transition: all 300ms;
                  }
                }
              }
            }

            .conteneur-detail {
              position: absolute;
              display: flex;
              flex-direction: column;
              //justify-content: center;
              justify-content: flex-start;
              background: #fff;
              padding: 10px 15px;
              //padding: 5px 15px;
              max-width: 90%;
              width: auto;
              left: 0;
              top: 95%;
              //bottom: -35px;
              margin-top: 0;
              //height: 70px;
              overflow: hidden;
              -webkit-transition: all 300ms;
              -moz-transition: all 300ms;
              -ms-transition: all 300ms;
              -o-transition: all 300ms;
              transition: all 300ms;

              .titre {
                //height: 1px;
                //margin-top: -50px;
                display: inline-block;
                font-weight: 500;
                color: lighten($secondary, 15%);
                text-transform: uppercase;
                font-size: 26px;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                transition: all 300ms;
              }

              .overlay {
                display: block;
                color: $primary;
                text-align: center;
                opacity: 0;
                //height: 0;
                //overflow: hidden;
                //opacity: 0;

                .description {
                  margin-bottom: 30px;
                }
              }
            }
          }

        }
      }

      .footer-prestations {
        display: none;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
      }
    }

    section.section-success-stories {
      background: linear-gradient(to bottom, #efefef, #fff);
      padding-bottom: 80px;

      .btn {
        &::after {
          border-color: $gray-100;
        }
      }

      .conteneur-success-stories {
        position: relative;
        padding-top: 50px;

        .titre-section {
          position: absolute;
          margin-left: 155px;
          @include title-section($primary, $alignment: right);
          background: linear-gradient(to bottom, #f0f0f0, #f1f1f1);
        }

        .slider-success-stories {
          margin-top: 120px;

          .groupe-success-story {
            @include make-row();
            @include row-cols(1);
          }

          .conteneur-story {
            @include make-col-ready();
            @include make-col(9);
            @include make-col-offset(2);
            padding: 0;

            &:nth-of-type(1) {
              z-index: 1;
            }

            &:nth-of-type(2) {
              margin-top: -115px;
              margin-bottom: 60px;

              .story {
                margin-left: -30px;

                .visuel {
                  order: 2;
                  margin-right: 0;
                  -webkit-transform: translateX(-30px);
                  -moz-transform: translateX(-30px);
                  -ms-transform: translateX(-30px);
                  -o-transform: translateX(-30px);
                  transform: translateX(-30px);
                }

                .conteneur-detail {
                  margin-top: 170px;
                  margin-left: 30px;
                  margin-right: 40px;
                }
              }
            }

            .story {
              display: flex;

              .visuel {
                flex-shrink: 0;
                margin-right: 40px;
              }

              .conteneur-detail {
                margin-top: 30px;
                color: $primary;

                .titre {
                  font-size: 30px;
                  font-weight: 400;
                  text-transform: uppercase;
                  margin-bottom: 15px;
                }

                .description {
                  font-size: 18px;
                  font-weight: 300;
                  margin-bottom: 35px;
                }
              }
            }
          }
        }

        .footer-success-stories {
          display: flex;
          align-items: center;
          justify-content: center;

          .nav-slider {
            margin-right: 55px;

          }
        }
      }
    }

    section.actualites-evenements {
      position: relative;
      background: #846b57;
      overflow: hidden;
      padding-top: 75px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background: #fff;
      }

      .slider-img-actu {
        position: absolute;
        top: 75px;
        z-index: 0;
        height: calc(100% - 75px);
        width: 70% !important;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(51, 28, 16);
          background: linear-gradient(0deg, rgba(51, 28, 16, 1) 0%, rgba(51, 28, 16, 1) 14%, rgba(51, 28, 16, 0) 41%, rgba(51, 28, 16, 0) 100%);
          z-index: 1;
        }

        * {
          height: 100%;
        }

        .img-actu {
          display: flex !important;
          align-items: center;
          justify-content: center;
        }

        .visuel {
          position: absolute;
          min-height: 100%;
          min-width: 100%;
          height: unset;
        }
      }

      .titre-section {
        position: relative;
        display: inline-block;
        z-index: 1;
        margin-top: -75px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          width: 50vw;
          height: 100%;
          background: #fff;
        }
      }

      .conteneur-actualites-evenements {
        .dernieres-actualites {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include make-col-ready();
          @include make-col(7);

          .titre-section {
            @include title-section($danger, sm);

            &::before {
              left: -50vw;
            }
          }

          .slider-actualites {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;

            .slick-slide {
              width: 100%;
            }

            .actualite {
              position: relative;
              z-index: 1;

              .header-detail {
                display: inline-flex;
                align-items: center;
                border-bottom: 1px solid $danger;
                padding-bottom: 5px;
                margin-bottom: 20px;

                .secteur {
                  text-transform: uppercase;
                  text-shadow: 7px 7px 20px #000;
                  font: {
                    size: 16px;
                    weight: 600;
                  };
                  color: #fff;
                  margin-right: 25px;
                }

                .date {
                  padding: 2px 5px;
                  font: {
                    size: 18px;
                    weight: bold;
                  };
                  color: #fff;
                  background: $danger;
                }
              }

              .titre {
                position: relative;
                font: {
                  size: 30px;
                  weight: normal;
                };
                text-shadow: 7px 7px 20px #000;
                @include underline-push(#fff);

                a {
                  color: #fff;
                }
              }
            }
          }

          .footer-dernieres-actualites {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            .nav-slider {
              margin-right: 55px;
            }

            .more {
              @include button-outline-variant(#fff, $border-color: $danger, $color-hover: $danger, $border-puce: #331C10, $color-puce: #fff);
              z-index: 1;
            }
          }

        }

        .prochains-evenements {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include make-col-ready();
          @include make-col(5);
          background: #846b57;
          z-index: 2;

          .titre-section {
            @include title-section($primary, sm);

            &::before {
              right: -50vw;
            }
          }

          .conteneur-evenements {
            margin-top: 75px;
            margin-left: 25px;

            .evenement {
              display: flex;
              margin-bottom: 50px;

              &:hover {
                @media screen and (min-width: 992px) {
                  .date {
                    color: #fff;

                    &::before {
                      height: 100%;
                    }
                  }
                  .conteneur-detail {
                    -webkit-transform: translateX(10px);
                    -moz-transform: translateX(10px);
                    -ms-transform: translateX(10px);
                    -o-transform: translateX(10px);
                    transform: translateX(10px);
                  }
                }
              }

              .date {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                background: #fff;
                width: 85px;
                height: 85px;
                border: 2px solid #fff;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                color: $primary;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                padding: 5px;
                line-height: 1;
                margin-right: 20px;
                z-index: 1;
                overflow: hidden;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                transition: all 300ms;

                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 0;
                  z-index: -1;
                  background: $primary;
                  -webkit-transition: all 300ms;
                  -moz-transition: all 300ms;
                  -ms-transition: all 300ms;
                  -o-transition: all 300ms;
                  transition: all 300ms;
                }
              }

              .conteneur-detail {
                -webkit-transition: transform 300ms;
                -moz-transition: transform 300ms;
                -ms-transition: transform 300ms;
                -o-transition: transform 300ms;
                transition: transform 300ms;

                .secteur {
                  display: inline-block;
                  color: #fff;
                  font: {
                    size: 16px;
                    weight: 600;
                  };
                  text-transform: uppercase;
                  padding-bottom: 7px;
                  padding-right: 40px;
                  border-bottom: 1px solid #fff;
                }

                .titre {
                  font: {
                    size: 18px;
                    weight: 600;
                  };
                  color: #fff;
                  padding-top: 7px;
                }
              }
            }
          }

          .more {
            @include button-outline-variant(#fff, $bg-beige, $color-hover: $bg-beige, $active-border: #fff, $border-puce: #846b57, $color-puce: #fff);
            margin-bottom: 50px;
          }
        }
      }
    }

    section.section-ressources-documentaires {
      position: relative;
      background: {
        image: url('../img/home/ressources.jpg');
        repeat: no-repeat;
        position: center left;
        size: cover;
      };

      .conteneur-ressources {
        position: relative;
        padding-top: 230px;
        padding-bottom: 120px;

        .titre-section {
          position: absolute;
          display: inline-block;
          top: 0;
          right: 0;
          @include title-section($info, $background: #fff, $alignment: right);
          @include title-section-before(right, #fff);
        }
      }

      .liste-ressources {
        @include make-row();
        @include row-cols(5);

        .ressource {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          color: $info;
          @include make-col-ready();

          &:first-of-type {
            @include make-col-offset(2);
          }

          .lien-ressource {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;

            &:hover {
              @media screen and (min-width: 992px) {
                .picto {
                  -webkit-transform: translateY(-10px) rotate(-10deg);
                  -moz-transform: translateY(-10px) rotate(-10deg);
                  -ms-transform: translateY(-10px) rotate(-10deg);
                  -o-transform: translateY(-10px) rotate(-10deg);
                  transform: translateY(-10px) rotate(-10deg);
                }
                .titre {
                  -webkit-transform: translateY(-10px);
                  -moz-transform: translateY(-10px);
                  -ms-transform: translateY(-10px);
                  -o-transform: translateY(-10px);
                  transform: translateY(-10px);

                  &::after {
                    -webkit-transform: translateY(10px);
                    -moz-transform: translateY(10px);
                    -ms-transform: translateY(10px);
                    -o-transform: translateY(10px);
                    transform: translateY(10px);
                    left: 0;
                    width: 100%;
                  }
                }
              }
            }

            .titre {
              font: {
                size: 20px;
                weight: bold;
              };
              color: $info;
              -webkit-transition: transform 300ms;
              -moz-transition: transform 300ms;
              -ms-transition: transform 300ms;
              -o-transition: transform 300ms;
              transition: transform 300ms;

              &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 0;
                height: 1px;
                background: $info;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                transition: all 300ms;
              }
            }

            .picto {
              margin-bottom: 30px;
              height: 70px;
              flex-shrink: 0;
              -webkit-transition: transform 300ms;
              -moz-transition: transform 300ms;
              -ms-transition: transform 300ms;
              -o-transition: transform 300ms;
              transition: transform 300ms;
            }
          }

          .description {
            font-size: 17px;
          }

        }
      }

      .footer-ressources {
        display: none;
        align-items: center;
        justify-content: center;

        .slick-dots {
          li {
            &.slick-active {
              button {
                background: $info;
              }
            }

            button {
              border-color: $info;
            }
          }
        }

        .arrow {
          &.prev {
            background-image: url('../img/pictos/angle-left-info.png');
          }

          &.next {
            background-image: url('../img/pictos/angle-right-info.png');
          }
        }
      }
    }

    section.section-secteurs {
      background: $bg;
      //background-image: linear-gradient(to bottom, #fff, #eff0f0);

      .conteneur-section {
        position: relative;

        .titre-section {
          position: absolute;
          top: 50px;
          right: 0;
          @include title-section($titre-home, $background: $bg, $alignment: right);
        }
      }

      .conteneur-secteurs {
        @include make-row();
        @include row-cols(5);
        padding: 160px 0 10px 0;

        .conteneur-secteur {
          @include make-col-ready();

          .secteur {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
              @media screen and (min-width: 992px) {
                .conteneur-visuel {
                  .titre {
                    bottom: -15px;
                  }
                }

                .description {
                  -webkit-transform: translateY(-25px);
                  -moz-transform: translateY(-25px);
                  -ms-transform: translateY(-25px);
                  -o-transform: translateY(-25px);
                  transform: translateY(-25px);
                }
              }
            }

            .conteneur-visuel {
              position: relative;

              .titre {
                position: absolute;
                display: flex;
                align-items: center;
                background: $bg;
                color: $beige;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 22px;
                height: 60px;
                padding: 5px 10px;
                max-width: 97%;
                bottom: -40px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                text-align: center;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                transition: all 300ms;
              }
            }

            .description {
              text-align: center;
              margin-top: 50px;
              font: {
                size: 19px;
                weight: 500;
              };
              -webkit-transition: transform 300ms;
              -moz-transition: transform 300ms;
              -ms-transition: transform 300ms;
              -o-transition: transform 300ms;
              transition: transform 300ms;
            }
          }
        }
      }

      .footer-secteurs {
        display: none;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
      }
    }

    section.nous-suivre {
      //background: $gray-100;
      background: $bg;

      .conteneur-nous-suivre {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 80px 15px;
      }

      .titre-section {
        position: relative;
        @include title-section($titre-home, $background: $bg);
        margin-right: 100px;
      }

      .conteneur-rs {
        display: flex;

      }

      .rs {
        @include button-outline-variant($primary, $separateur, $color-hover: $separateur, $border-puce: $gray-100, $taille-puce: sm, $color-puce: $separateur);
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 34px;
        margin: 0 25px;

        svg {
          .cls-1 {
            fill: $primary;
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms;
          }
        }

        &:hover {
          @media screen and (min-width: 992px) {
            svg {
              .cls-1 {
                fill: $separateur;
              }
            }
          }
        }

      }
    }
  }
}