/*
-- README --
Ce fichier style le menu en version desktop.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Seul le megamenu avec des niveaux 1 non cliquables est disponible pour le moment.
*/

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }


  .megamenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 8;

    .dropdown-megamenu {
      position: absolute;
      display: none;
      flex-direction: column;
      background: #fff;
      top: 145px;
      left: 0;
      padding: 15px 30px;
      box-shadow: 0 8px 11px -2px rgba(23, 23, 23, 0.09);
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
      &.active {
        display: flex;
      }
      .contenu-dropdown {
        display: none;
        &.active {
          display: block;
        }
      }
      .close-megamenu {
        position: absolute;
        padding: 10px 15px;
        font-size: 30px;
        top: 0;
        right: 0;
        border: none;
        background: none;
        &:hover {
          i {
            color: $primary;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
        i {
          color: $secondary;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
        }
      }
      .titre-menu {
        display: block;
        font-family: "Gilroy", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: $typo;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .conteneur-popup-menu {
        @include make-row();
        .element-menu {
          @include make-col-ready();
          &.conteneur-description {
            @include make-col(4);
            font-size: 14px;
            p {
              margin-bottom: 10px;
            }
          }
          &.pages-enfants {
            @include make-col(5);
            ul {
              display: flex;
              flex-wrap: wrap;
              list-style: none;
              padding-left: 0;
              margin-bottom: 0;
              li {
                width: 50%;
                margin-bottom: 10px;
                a {
                  font:  {
                    size: 18px;
                    weight: 500;
                  };
                  -webkit-transition: color 300ms;
                  -moz-transition: color 300ms;
                  -ms-transition: color 300ms;
                  -o-transition: color 300ms;
                  transition: color 300ms;
                }
              }
            }
          }
          &.a-voir-aussi {
            @include make-col(3);
            border-left: 1px solid $beige;
            padding-left: 30px;
            .titre-element-menu {
              display: block;
              font-family: "Gilroy", sans-serif;
              font-size: 18px;
              font-weight: 600;
              color: $typo;
              margin-bottom: 10px;
            }
            ul {
              padding-left: 0;
              margin-bottom: 0;
              list-style: none;
              li {
                a {
                  position: relative;
                  display: inline-block;
                  color: $secondary;
                  -webkit-transition: color 300ms;
                  -moz-transition: color 300ms;
                  -ms-transition: color 300ms;
                  -o-transition: color 300ms;
                  transition: color 300ms;
                  &:hover {
                    color: $danger;
                  }
                }
              }
            }
          }


        }
      }
    }

    .menu-desktop { // ul
      display: flex;
      align-items: center;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      z-index: 10;
      


      ul { // tous les ul du menu
        list-style: none;
        padding-left: 0;
      }

      > li { // niveau 1
        display: flex;
        justify-content: center;
        padding: 0 40px;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;

          > a {
            &::after {
              display: none;
            }
          }
        }

        &.active {
          > a {
            color: inherit;

            &::before {
              width: 70%;
              left: 5%;

            }
          }

          > ul {
            display: flex;

          }
        }

        > a { // a niveau 1
          position: relative;
          display: flex;
          align-items: center;
          font-family: "Gilroy", sans-serif;
          font-size: 16px;
          font-weight: 600;
          color: $typo;
          text-transform: uppercase;
          padding: 0;
          height: 100px;
          cursor: pointer;
          transition: all 300ms;

          &:hover {
            @include media-breakpoint-up(lg) {
              color: inherit;
              &::before {
                width: 70%;
                left: 5%;
              }
            }
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 4px;
            background: $primary;
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms;
          }

          &::after {
            content: '/';
            position: absolute;
            font-size: 40px;
            color: $separateur;
            top: 50%;
            right: -40px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }

        > ul { // conteneur niveau 2 - dropdown
          position: absolute;
          display: none;
          top: 145px;
          left: 0;
          right: 0;
          flex-wrap: wrap;
          background: #fff;
          padding: 15px 30px 5px 30px;
          border-top: none;
          min-height: 85px;
          box-shadow: 0 8px 11px -2px rgba(23, 23, 23, 0.09);

          > li { // niveau 2
            padding: 0 60px 15px 0;

            > a {
              font-size: 16px;
              font-weight: 500;
              text-transform: uppercase;
              color: $secondary;
              transition: color 300ms;
              @include underline($secondary, $danger, $height: 1px);
              padding-bottom: 2px;

              &:hover {
                @include media-breakpoint-up(lg) {
                  color: $danger;
                }
              }
            }

            > ul { // conteneur niveau 3
              padding-left: 15px;

              > li { // niveau 3
                > a {
                  position: relative;
                  font-size: 14px;
                  color: $primary;
                  font-style: italic;
                  transition: color 300ms;
                  &::before {
                    content: '';
                    position: absolute;
                    left: -15px;

                    top: 8px;
                    width: 0;
                    height: 1px;
                    background: $primary;
                    -webkit-transition: all 300ms;
                    -moz-transition: all 300ms;
                    -ms-transition: all 300ms;
                    -o-transition: all 300ms;
                    transition: all 300ms;
                  }

                  &:hover {
                    @include media-breakpoint-up(lg){
                      &::before {
                        width: 10px;

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
