.modal {
  &#modal-recherche {
    .modal-dialog {
      .modal-content {
        background: transparent;
        border: none;
        .modal-header {
          border-bottom: none;
          .close {
            font-size: 48px;
            opacity: 1;
            text-shadow: none;
            padding: 0 1rem;
            color: #fff;
            -webkit-transition: all 300ms;
            -moz-transition: all 300ms;
            -ms-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms;
            &:hover {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
        .modal-body {
          .recherche {
            .input-group {
              position: relative;
              height: 60px;
              width: 100%;
              -webkit-border-radius: 60px;
              -moz-border-radius: 60px;
              border-radius: 60px;
              overflow: hidden;

              input {
                height: 100%;
                border: none;
                padding: 0 30px;
                color: $typo;
                font-size: 19px;
                font-weight: normal;

                &::placeholder {
                  color: $info;
                  font-style: italic;
                }
              }

              .submit-recherche {
                position: relative;
                width: 80px;
                height: 100%;
                background: #fff;
                border: none;

                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: {
                    image: url("../img/pictos/search.svg");
                    repeat: no-repeat;
                    position: center center;
                    size: 35px;
                  };
                }

                span {
                  @include rgaa-hidden();
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.9;
  }
}