
@media print {

  .d-flex, .row {
    display: block !important;
  }

  .col-md-6, .col-12 {
    max-width: unset !important;
  }

  * {
    animation: none !important;
  }

  * {
    font-size: 0.4cm !important;
  }
  h1 {
    font-size: 0.8cm !important;

    span {
      font-size: 0.8cm !important;
    }
  }
  h2 {
    font-size: 0.6cm !important;

    span {
      font-size: 0.6cm !important;
    }
  }
  h3 {
    font-size: 0.5cm !important;

    span {
      font-size: 0.5cm !important;
    }
  }

  @page {
    margin: 2.5cm 0 2.5cm 0;
  }

  // tous les éléments à cacher
  .conteneur-menu, .entry-main-footer, .at-share-btn-elements, .title-metas-right, .title-metas, .elementor-image figure {
    display: none !important;
  }

  .elementor-element {
    &.animated {
      animation: none !important;
    }
  }

  header {
    position: initial !important;

    .conteneur-logo {

    }
  }

  main {

    .contenu {

      ul {
        list-style-type: disc !important;
        font-weight: initial !important;

        li {
          padding-left: 0 !important;

          &::before {
            display: none !important;
          }
        }
      }

      a[href^=http]:after {
        content: '(' attr(href) ')';
        display: block;
        width: 100%;
      }
    }


    .contenu {
      margin-top: 5px !important;
    }

    aside {
      display: none !important;
    }

    main {
      flex: 100% !important;
      max-width: 100% !important;
    }



    .col-lg-9 {
      max-width: 100% !important;
      flex: 0 0 100% !important;
    }

    // tous les éléments qui sont en flex (à transformer en block pour firefox)
    .elementor-widget-wrap, .elementor-column-wrap, .elementor-element, .elementor-container, .elementor-tab-title {
      display: block !important;
    }

    .elementor-widget-video, .elementor-image-carousel {
      display: none !important;
    }

    .elementor-widget-accordion {
      .elementor-accordion {
        .elementor-tab-title {
          a {
            font-size: 0.5cm !important;
            text-decoration: none !important;
          }

          .elementor-accordion-icon {
            display: none !important;
          }
        }

        .elementor-tab-content {
          display: block !important;
        }
      }
    }

    .elementor-icon {
      i {
        font-size: 1cm !important;
      }
    }

    .row {
      display: block !important;
    }

    .elementor-row {
      display: block !important;
    }
  }


  footer {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    display: block !important;
    padding: 15px 0 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    margin-top: 5px !important;
    border-top: 1px solid #ddd;
    &.entry-footer {
      display: none !important;
    }
  }

  .tableau-responsive {
    background: none !important;
    padding: 0 5px !important;
    margin-bottom: 50px;
    overflow-x: initial !important;
    max-width: 100% !important;

    table {
      page-break-inside: avoid;
      th {
        text-align: left !important;
        border: 1px solid #000 !important;
      }

      td {
        text-align: left !important;
        color: #000 !important;
        border: 1px solid #000 !important;
      }
    }
  }


  header {
    &.scrolling {
      height: 145px !important;
      .conteneur-logo {
        display: inline-block !important;
        max-height: unset !important;
        .logo {
          height: 93px !important;
        }
      }
    }
    .conteneur-logo {
      .texte-logo {
        display: none;
      }
    }
    .conteneur-header {
      display: block;
      .wrapper-header {
        display: none;
      }
    }
  }
  .page-wrapper {
    padding-top: 0 !important;
    .conteneur-ariane {
      display: none;
    }
    .page {
      padding-top: 0 !important;
      aside.conteneur-sidebar {
        display: none;
      }
      .page-inner {
        .main-content {
          .titre-page {
            position: relative;
            top: unset;
            left: unset;
            margin-bottom: 0;
            padding-left: 0;
            font-size: 1cm !important;
          }
          .conteneur-thumbnail {
            display: none;
          }
          .zone-carateristiques {
            display: block;
            .date {
              position: relative;
              top: unset;
              left: unset;
              display: block;
              background: transparent;
              color: $titre-home;
              width: auto;
              height: auto;
              padding: 0;
              margin: 15px 0;
              font-size: 0.6cm;
              @include border-radius(0);
            }
            .caracteristique {
              display: block;
              img {
                display: none;
              }
            }
          }
        }
        .retour {
          display: none !important;
        }
        .conteneur-cta, .conteneur-contact {
          display: none !important;
        }
      }
    }
    section.section-realisations, section.actualites-evenements, section.projets-recherche, .conteneur-carrefour {
      display: none !important;
    }
    .wysiwyg {
      img, .template-image {
        display: block !important;
        float: none !important;
      }
    }
  }

  footer {
    display: none !important;
  }
}
