aside.conteneur-sidebar {
  .sidebar {
    .widget {
      position: relative;
      padding: 70px 20px 0 20px;
      &.widget-documents {
        background: #f0efef;
        margin-bottom: 50px;
      }
      &.widget-liens {
        background: $titre-home;
        margin-bottom: 25px;
        .conteneur-elements {
          li {
            &::before {
              background: #fff;
            }
            .element-sidebar {
              color: #fff;
              &:hover {
                @media screen and (min-width: 992px) {
                  border-color: #fff;
                }
              }
            }
          }
        }
      }
      .titre-widget {
        position: absolute;
        top: -5px;
        right: 0;
        @include title-section($primary, 33px, right);
        padding-left: 15px;
        padding-bottom: 10px;
      }
      .conteneur-elements {
        @include ul-simple();
        padding-bottom: 5px;
        li {
          position: relative;
          padding: 10px 0 10px 25px;
          border-bottom: 1px solid #fff;
          &:last-of-type {
            border-bottom: none;
          }
          &::before {
            @include pseudo-element($secondary, null, null, $t: 50%, $l: 0, $width: 9px, $height: 9px);
            @include transform(translateY(-50%));
            @include border-radius(50%);
          }
          .element-sidebar {
            @include font(#331c10, 18px, 500, $f: "Gilroy");
            line-height: 1;
            border-bottom: 1px solid transparent;
            @include transition();
            &:hover {
              @media screen and (min-width: 992px) {
                border-color: #331c10;
              }
            }
          }
        }
      }
    }
  }
}