@mixin underline($color, $color2: null, $direction: ltr, $height: 1px, $duration: 300ms) {
  position: relative;
  @if $color2 {
    -webkit-transition: color $duration;
    -moz-transition: color $duration;
    -ms-transition: color $duration;
    -o-transition: color $duration;
    transition: color $duration;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      @if $color2 {
        color: $color2;
      }
      &::after {
        @if $direction == ltr {
          left: 0;
          right: auto;
          width: 100%;
        } @else if $direction == rtl {
          right: 0;
          left: auto;
          width: 100%;
        } @else if $direction == center {
          left: 50%;
          width: 0;
        }
        @if $color2 {
          background: $color2;
        }
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    @if $direction == ltr {
      bottom: 0;
      right: 0;
      width: 0;
    } @else if $direction == rtl {
      bottom: 0;
      left: 0;
      width: 0;
    } @else if $direction == center {
      bottom: 0;
      left: 0;
      width: 100%;
    }
    height: $height;
    background: $color;
    -webkit-transition: all $duration;
    -moz-transition: all $duration;
    -ms-transition: all $duration;
    -o-transition: all $duration;
    transition: all $duration;
  }
}

@mixin underline-push($color, $color2: null, $direction: center, $distance: 10px, $height: 1px, $duration: 300ms) {
  -webkit-transition: transform $duration;
  -moz-transition: transform $duration;
  -ms-transition: transform $duration;
  -o-transition: transform $duration;
  transition: transform $duration;
  @if $color2 {
    -webkit-transition: color $duration, transform $duration;
    -moz-transition: color $duration, transform $duration;
    -ms-transition: color $duration, transform $duration;
    -o-transition: color $duration, transform $duration;
    transition: color $duration, transform $duration;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      -webkit-transform: translateY(-$distance);
      -moz-transform: translateY(-$distance);
      -ms-transform: translateY(-$distance);
      -o-transform: translateY(-$distance);
      transform: translateY(-$distance);
      @if $color2 {
        color: $color2;
      }
      &::after {
        -webkit-transform: translateY($distance);
        -moz-transform: translateY($distance);
        -ms-transform: translateY($distance);
        -o-transform: translateY($distance);
        transform: translateY($distance);
        @if $direction == ltr {
          left: 0;
          right: auto;
          width: 100%;
        } @else if $direction == rtl {
          right: 0;
          left: auto;
          width: 100%;
        } @else if $direction == center {
          left: 0;
          width: 100%;
        }
        @if $color2 {
          background: $color2;
        }
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    @if $direction == ltr {
      bottom: 0;
      right: 0;
      width: 0;
    } @else if $direction == rtl {
      bottom: 0;
      left: 0;
      width: 0;
    } @else if $direction == center {
      bottom: -$distance/2;
      left: 50%;
      width: 0;
    }
    height: $height;
    background: $color;
    -webkit-transition: all $duration;
    -moz-transition: all $duration;
    -ms-transition: all $duration;
    -o-transition: all $duration;
    transition: all $duration;
  }
}

@mixin sideline-push($color, $color2: null, $direction: center, $distance: 10px, $width: 1px, $duration: 300ms) {
  -webkit-transition: transform $duration;
  -moz-transition: transform $duration;
  -ms-transition: transform $duration;
  -o-transition: transform $duration;
  transition: transform $duration;
  @if $color2 {
    -webkit-transition: color $duration, transform $duration;
    -moz-transition: color $duration, transform $duration;
    -ms-transition: color $duration, transform $duration;
    -o-transition: color $duration, transform $duration;
    transition: color $duration, transform $duration;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      -webkit-transform: translateX($distance);
      -moz-transform: translateX($distance);
      -ms-transform: translateX($distance);
      -o-transform: translateX($distance);
      transform: translateX($distance);
      @if $color2 {
        color: $color2;
      }
      &::after {
        -webkit-transform: translateX(-$distance);
        -moz-transform: translateX(-$distance);
        -ms-transform: translateX(-$distance);
        -o-transform: translateX(-$distance);
        transform: translateX(-$distance);
        @if $direction == ttb {
          top: 0;
          bottom: auto;
          height: 100%;
        } @else if $direction == btt {
          bottom: 0;
          top: auto;
          height: 100%;
        } @else if $direction == center {
          top: 0;
          height: 100%;
        }
        @if $color2 {
          background: $color2;
        }
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    @if $direction == ttb {
      left: 0;
      bottom: 0;
      height: 0;
    } @else if $direction == btt {
      left: 0;
      top: 0;
      height: 0;
    } @else if $direction == center {
      left: -$distance/2;
      top: 50%;
      height: 0;
    }
    width: $width;
    background: $color;
    -webkit-transition: all $duration;
    -moz-transition: all $duration;
    -ms-transition: all $duration;
    -o-transition: all $duration;
    transition: all $duration;
  }
}

@mixin rise($distance: 10px, $duration: 300ms) {
  -webkit-transition: transform $duration;
  -moz-transition: transform $duration;
  -ms-transition: transform $duration;
  -o-transition: transform $duration;
  transition: transform $duration;
  &:hover {
    @media screen and (min-width: 992px) {
      -webkit-transform: translateY(-$distance);
      -moz-transform: translateY(-$distance);
      -ms-transform: translateY(-$distance);
      -o-transform: translateY(-$distance);
      transform: translateY(-$distance);
    }
  }
}

@mixin rise-children($distance: 10px, $duration: 300ms) {
  > * {
    -webkit-transition: transform $duration;
    -moz-transition: transform $duration;
    -ms-transition: transform $duration;
    -o-transition: transform $duration;
    transition: transform $duration;
  }

  &:hover {
    @media screen and (min-width: 992px) {
      > * {
        -webkit-transform: translateY(-$distance);
        -moz-transform: translateY(-$distance);
        -ms-transform: translateY(-$distance);
        -o-transform: translateY(-$distance);
        transform: translateY(-$distance);
      }
    }
  }
}

@mixin rotate-children($degree: -15deg, $duration: 300ms) {
  > * {
    -webkit-transition: transform $duration;
    -moz-transition: transform $duration;
    -ms-transition: transform $duration;
    -o-transition: transform $duration;
    transition: transform $duration;
  }

  &:hover {
    @media screen and (min-width: 992px) {
      > * {
        -webkit-transform: rotate($degree);
        -moz-transform: rotate($degree);
        -ms-transform: rotate($degree);
        -o-transform: rotate($degree);
        transform: rotate($degree);
      }
    }

  }
}

@mixin rotate-childrenX($degree: 180deg, $duration: 300ms) {
  > * {
    -webkit-transition: transform $duration;
    -moz-transition: transform $duration;
    -ms-transition: transform $duration;
    -o-transition: transform $duration;
    transition: transform $duration;
  }

  &:hover {
    @media screen and (min-width: 992px) {
      > * {
        -webkit-transform: rotateX($degree);
        -moz-transform: rotateX($degree);
        -ms-transform: rotateX($degree);
        -o-transform: rotateX($degree);
        transform: rotateX($degree);
      }
    }

  }
}

@mixin rotate-childrenY($degree: 180deg, $duration: 300ms) {
  > * {
    -webkit-transition: transform $duration;
    -moz-transition: transform $duration;
    -ms-transition: transform $duration;
    -o-transition: transform $duration;
    transition: transform $duration;
  }

  &:hover {
    @media screen and (min-width: 992px) {
      > * {
        -webkit-transform: rotateY($degree);
        -moz-transform: rotateY($degree);
        -ms-transform: rotateY($degree);
        -o-transform: rotateY($degree);
        transform: rotateY($degree);
      }
    }
  }
}