@mixin destroy-row(){
  display: block;
  margin: {
    right: 0;
    left: 0;
  };
}

@mixin destroy-col(){
  display: block;
  max-width: unset;
  padding: {
    left: 0;
    right: 0;
  };
}

@mixin destroy-row-cols(){
  > * {
    max-width: unset;
    flex: unset;
  }
}