@mixin title-section($color, $size:lg, $alignment:left, $background: #fff) {
  @if $size == sm {
    font-size: 42px;
    line-height: 42px;
    padding: 15px 20px;
  } @else if $size == lg {
    font-size: 52px;
    line-height: 52px;
    padding: 20px 25px;
  } @else {
    font-size: $size;
    line-height: $size;
    padding: 0;
  }
  font-weight: bold;
  color: $color;
  text-align: $alignment;
  @if $background == none {
    padding: 0;
  } @else {
    background: $background;
  }
  z-index: 1;
  letter-spacing: -1px;
}

@mixin title-section-before($alignment: left, $background: #fff){
  &::before {
    content: '';
    position: absolute;
    top: 0;
    @if $alignment == left {
      left: -50vw;
    } @else if $alignment == right {
      right: -50vw;
    }
    width: 50vw;
    height: 100%;
    background: $background;
  }
}

@mixin font($c, $z: 15px, $w: null, $t: null, $s: null, $f: null, $a: null){
  font: {
    family: $f;
    size: $z;
    weight: $w;
    style: $s;
  };
  color: $c;
  text-transform: $t;
  text-align: $a;
}

@mixin titre-h1(){
  position: relative;
  @include font($danger, 45px, bold);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 767px) {
    font-size: 38px;
  }
  @media screen and (max-width: 575px) {
    font-size: 30px;
  }
}

@mixin titre-h2(){
  position: relative;
  @include font($primary, 42px, bold);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 767px) {
    font-size: 35px;
  }
  @media screen and (max-width: 575px) {
    font-size: 27px;
  }
}

@mixin titre-h3(){
  @include font($primary, 30px, 500, uppercase);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 767px) {
    font-size: 25px;
  }
  @media screen and (max-width: 575px) {
    font-size: 23px;
  }
}

@mixin titre-h4(){
  @include font($secondary, 26px, 500, uppercase);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 767px) {
    font-size: 23px;
  }
  @media screen and (max-width: 575px) {
    font-size: 20px;
  }
}

@mixin titre-h5(){
  @include font($typo-alt, 20px, bold);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}

@mixin titre-h6(){
  @include font($primary, 16px, 500);
  margin-top: 15px;
  margin-bottom: 15px;
  @media screen and (max-width: 575px) {
    font-size: 15px;
  }
}

@mixin lien-wysiwyg() {
  @include font($danger, inherit, bold);
  border-bottom: 1px solid $danger;
  @include transition();
  &:hover {
    border-bottom: 1px solid transparent;
  }
}

@mixin titre-sidebar($color, $image){
  position: relative;
  padding: {
    top: 15px;
    left: 65px;
    bottom: 10px;
  };
  &::before {
    @include pseudo-element(url('../img/pictos/sidebar/#{$image}.png') no-repeat top left, $width: 65px);
  }
  .titre-widget {
    @include font($color, 25px, bold, $f: "Faune");
  }

  @media screen and (max-width: 1339px) {
    padding: {
      top: 5px;
      left: 45px;
      bottom: 15px;
    };
    &::before {
      width: 35px;
      background-size: contain;
    }
    .titre-widget {
      font-size: 20px;
    }
  }
}