.page-wrapper {
  padding-top: 145px;
  .conteneur-ariane {
    @include flex(flex-start, space-between);
    .breadcrumbs {
      padding: 20px 0;
      @include font($secondary, 16px, bold, $f: "Gilroy");
      .breadcrumb-link-wrap {
        position: relative;
        padding-right: 18px;
        margin-right: 20px;
        &::after { // separateur
          @include pseudo-element(#dedede, null, 'top right', $width: 1px);

        }
        &:first-of-type {
          a {
            position: relative;
            padding-left: 17px;
            border-bottom: none;
            &:hover {
              @media screen and (min-width: 992px) {
                &::after {
                  @include transform(rotateY(180deg));
                }
              }
            }
            &::after {
              @include pseudo-element(url('../img/pictos/home.png') no-repeat center left, null, 'top left', $width: 16px, $height: 16px);
            }
          }
          span {
            display: none;
          }
        }
        a {
          @include font($primary, 16px, 500, $f: "Gilroy");
          border-bottom: 1px solid $primary;
          @include transition();
          &:hover {
            @media screen and (min-width: 992px) {
              border-color: transparent;
            }
          }
        }
      }
    }
    .conteneur-partage {
      @include flex(center, flex-end);
      margin-top: 25px;
      .share-btn {
        position: relative;
        display: block;
        @include circle(35px);
        @include background($primary);
        margin-left: 10px;
        cursor: pointer;
        @include transition();
        &:hover {
          @include transform(rotateY)
        }
        &#share-print {
          background-image: url('../img/pictos/print.png');
        }
        &#share-rs {
          background-image: url('../img/pictos/share.png');
        }
      }
    }

  }
  .page {
    padding-top: 70px;
    .page-inner {
      .main-content {
        position: relative;
        .titre-page {
          position: absolute;
          top: -45px;
          left: 0;
          @include title-section($secondary);
          max-width: 90%;
        }
        .conteneur-thumbnail {
          width: 100%;
          background: $bg;
          margin-bottom: 20px;
        }
        .chapo {
          @include font($primary, 19px, 600, $f: "Gilroy");
          margin-bottom: 45px;
        }
      }
    }
  }
  section.actualites-evenements {
    position: relative;
    background: #846b57;
    overflow: hidden;
    padding-top: 75px;
    margin-top: 80px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 75px;
      background: #fff;
    }

    .slider-img-actu {
      position: absolute;
      top: 75px;
      z-index: 0;
      height: calc(100% - 75px);
      width: 70% !important;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(51, 28, 16);
        background: linear-gradient(0deg, rgba(51, 28, 16, 1) 0%, rgba(51, 28, 16, 1) 14%, rgba(51, 28, 16, 0) 41%, rgba(51, 28, 16, 0) 100%);
        z-index: 1;
      }

      * {
        height: 100%;
      }

      .img-actu {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }

      .visuel {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        height: unset;
      }
    }

    .titre-section {
      position: relative;
      display: inline-block;
      z-index: 1;
      margin-top: -75px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 50vw;
        height: 100%;
        background: #fff;
      }
    }

    .conteneur-actualites-evenements {
      .dernieres-actualites {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include make-col-ready();
        @include make-col(7);

        .titre-section {
          @include title-section($danger, sm);

          &::before {
            left: -50vw;
          }
        }

        .slider-actualites {
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;

          .slick-slide {
            width: 100%;
          }

          .actualite {
            position: relative;
            z-index: 1;

            .header-detail {
              display: inline-flex;
              align-items: center;
              border-bottom: 1px solid $danger;
              padding-bottom: 5px;
              margin-bottom: 20px;

              .secteur {
                text-transform: uppercase;
                text-shadow: 7px 7px 20px #000;
                font: {
                  size: 16px;
                  weight: 600;
                };
                color: #fff;
                margin-right: 25px;
              }

              .date {
                padding: 2px 5px;
                font: {
                  size: 18px;
                  weight: bold;
                };
                color: #fff;
                background: $danger;
              }
            }

            .titre {
              position: relative;
              font: {
                size: 30px;
                weight: normal;
              };
              text-shadow: 7px 7px 20px #000;
              @include underline-push(#fff);

              a {
                color: #fff;
              }
            }
          }
        }

        .footer-dernieres-actualites {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 50px;

          .nav-slider {
            margin-right: 55px;
          }

          .more {
            @include button-outline-variant(#fff, $border-color: $danger, $color-hover: $danger, $border-puce: #331C10, $color-puce: #fff);
            z-index: 1;
          }
        }

      }

      .prochains-evenements {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include make-col-ready();
        @include make-col(5);
        background: #846b57;
        z-index: 2;

        .titre-section {
          @include title-section($primary, sm);

          &::before {
            right: -50vw;
          }
        }

        .conteneur-evenements {
          margin-top: 75px;
          margin-left: 25px;

          .evenement {
            display: flex;
            margin-bottom: 50px;

            &:hover {
              @media screen and (min-width: 992px) {
                .date {
                  color: #fff;

                  &::before {
                    height: 100%;
                  }
                }
                .conteneur-detail {
                  -webkit-transform: translateX(10px);
                  -moz-transform: translateX(10px);
                  -ms-transform: translateX(10px);
                  -o-transform: translateX(10px);
                  transform: translateX(10px);
                }
              }
            }

            .date {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              background: #fff;
              width: 85px;
              height: 85px;
              border: 2px solid #fff;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              color: $primary;
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              padding: 5px;
              line-height: 1;
              margin-right: 20px;
              z-index: 1;
              overflow: hidden;
              -webkit-transition: all 300ms;
              -moz-transition: all 300ms;
              -ms-transition: all 300ms;
              -o-transition: all 300ms;
              transition: all 300ms;

              &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                z-index: -1;
                background: $primary;
                -webkit-transition: all 300ms;
                -moz-transition: all 300ms;
                -ms-transition: all 300ms;
                -o-transition: all 300ms;
                transition: all 300ms;
              }
            }

            .conteneur-detail {
              -webkit-transition: transform 300ms;
              -moz-transition: transform 300ms;
              -ms-transition: transform 300ms;
              -o-transition: transform 300ms;
              transition: transform 300ms;

              .secteur {
                display: inline-block;
                color: #fff;
                font: {
                  size: 16px;
                  weight: 600;
                };
                text-transform: uppercase;
                padding-bottom: 7px;
                padding-right: 40px;
                border-bottom: 1px solid #fff;
              }

              .titre {
                font: {
                  size: 18px;
                  weight: 600;
                };
                color: #fff;
                padding-top: 7px;
              }
            }
          }
        }

        .more {
          @include button-outline-variant(#fff, $bg-beige, $color-hover: $bg-beige, $active-border: #fff, $border-puce: #846b57, $color-puce: #fff);
          margin-bottom: 50px;
        }
      }
    }
  }



  // Editeur WYSIWYG de Wordpress + Editeur WYSWIWYG d'Elementor + titres dans et hors éditeur
  .wysiwyg, .elementor-text-editor, .elementor .elementor-widget-heading {
    &:not(.contenu-elementor) { // class ajoutée à la div .wysiwyg quand la page contient elementor
      a { // évite que ce style de lien contamine les widgets elementor
        @include lien-wysiwyg();
      }
    }

    h1, h1.elementor-heading-title {
      @include titre-h1();
    }

    h2, h2.elementor-heading-title {
      @include titre-h2();
    }

    h3, h3.elementor-heading-title {
      @include titre-h3();
    }

    h4, h4.elementor-heading-title {
      @include titre-h4();
    }

    h5, h5.elementor-heading-title {
      @include titre-h5();
    }

    h6, h6.elementor-heading-title {
      @include titre-h6();
    }

    p {
      @include font($typo-alt, 17px, normal);
    }

    img {
      &.alignleft {
        float: left;
        margin: 0 30px 30px 0;
      }

      &.alignright {
        float: right;
        margin: 0 0 30px 30px;
      }
    }

    span.template-image {
      position: relative;

      &.alignnone {
        margin: 0 0 15px 0;
        display: inline-block;

        img {
          margin: 0;
        }
      }

      &.alignleft {
        float: left;
        margin: 0 15px 15px 0;

        img {
          margin: 0;
        }
      }

      &.alignright {
        float: right;
        margin: 0 0 15px 15px;

        img {
          margin: 0;
        }
      }

      &.aligncenter {
        img {
          margin: auto;
          display: block;
          text-align: center;
        }
      }

      img {
        &.alignnone {
          margin: 0 0 15px 0;
          display: inline-block;
        }

        &.alignleft {
          float: left;
          margin: 0 30px 30px 0;
        }

        &.alignright {
          float: right;
          margin: 0 0 15px 15px;
        }

        &.aligncenter {
          margin: auto;
          display: block;
          text-align: center;
        }
      }


    }

    ul:not(.elementor-editor-element-settings), ul:not(.elementor-editor-section-settings) { // évite que le style de liste apparaisse en back-office dans l'éditeur d'élementor
      @include ul-simple();
      margin-bottom: 30px;

      li {
        position: relative;
        padding-left: 20px;
        list-style: none;

        &::before { // pour remplacer le list-style
          @include pseudo-element($danger, null, null, $t: 9px, $l: 0);
          @include circle(9px);

        }

        ul {
          margin-bottom: 0;

          li {
            &::before { // pour remplacer le list-style
              background: $primary;
            }

            ul {
              margin-bottom: 0;

              li {
                &::before { // pour remplacer le list-style
                  background: $secondary;
                }
              }
            }
          }
        }
      }
    }

    blockquote {
      position: relative;
      padding: 30px 30px;
      @include font($primary, 18px, normal, null, italic);
      background: #efeff0;
      background-image: linear-gradient(to bottom, #efeff0, #fff);
      margin: 55px 0 25px 0;

      p {
        color: inherit;
      }

      &:before { // guillemet ouvrant d'une citation
        content: '“';
        position: absolute;
        top: -61px;
        left: 25px;
        @include font($primary, 108px, bold, null, normal);
      }
    }

    .tableau-responsive {
      padding: 0;
    }

    table {
      margin-bottom: 60px;

      thead {
        tr {
          td, th {
            background: $titre-home;
            @include font(#fff, 16px, 600, uppercase);
            border: 4px solid #fff !important;

          }
        }
      }

      tr {
        &:last-of-type {
          td, th {
            border-bottom: none;
          }
        }

        td, th {
          padding: 18px 23px;
          border-right: 1px solid #c5b691;
          border-bottom: 1px solid #c5b691;
        }

        th {
          @include font($primary, 17px, bold);
        }

        td {
          @include font($primary, 17px, normal);

          &:last-of-type {
            border-right: none;
          }
        }
      }
    }

    hr {

    }
  }

  .wysiwyg { // Pour les styles autres que l'éditeur WYSIWYG d'Elementor
    @include font($typo-alt, 17px, normal);

    .elementor {

      // COMPTEUR
      .elementor-widget-counter {
        .elementor-counter-number-wrapper {

        }
      }

      // BOUTONS
      .elementor-widget-button {
        .elementor-button {

          &:hover {
            @media screen and(min-width: 992px) {

            }
          }

          // taille des boutons
          &.elementor-size-xs {

          }

          &.elementor-size-sm {

          }

          &.elementor-size-md {

          }

          &.elementor-size-lg {

          }

          &.elementor-size-xl {

          }

          // style des boutons (couleurs, texte, etc)
          .elementor-button-text {

          }
        }

        &.elementor-button-info {
          .elementor-button {

            &:hover {
              @media screen and(min-width: 992px) {

              }
            }
          }
        }

        &.elementor-button-success {
          .elementor-button {

            &:hover {
              @media screen and(min-width: 992px) {

              }
            }
          }
        }

        &.elementor-button-warning {
          .elementor-button {

            &:hover {
              @media screen and(min-width: 992px) {

              }
            }
          }
        }

        &.elementor-button-danger {
          .elementor-button {

            &:hover {
              @media screen and(min-width: 992px) {

              }
            }
          }
        }
      }

      // Va et vient
      .elementor-widget-toggle {

        .elementor-toggle-item {

          .elementor-tab-title {

            .elementor-toggle-icon {

              i {

              }
            }

            a { // lien pour ouvrir le va et vient

              &:hover {
                @media screen and(min-width: 992px) {

                }
              }
            }
          }

          .elementor-tab-content {
            a { // style de lien dans le contenu du va et vient (reprendre le style de l'éditeur wysiwyg)

              &:hover {
                @media screen and(min-width: 992px) {

                }
              }
            }
          }
        }
      }

      // ACCORDEON
      .elementor-accordion {

        .elementor-accordion-item {

          .elementor-tab-title {

            .elementor-accordion-icon {

              i {

              }
            }

            a { // lien pour ouvrir l'accordéon

              &:hover {
                @media screen and(min-width: 992px) {

                }
              }
            }
          }

          .elementor-tab-content {

            a { // style de lien dans le contenu de l'accordéon (reprendre le style de l'éditeur wysiwyg)

              &:hover {
                @media screen and(min-width: 992px) {

                }
              }
            }
          }
        }
      }

      // IMAGES ET LEGENDE
      .elementor-image {
        figure {
          a { // quand il y a un lien sur l'image

            &:hover {
              @media screen and(min-width: 992px) {
                img {

                }
              }
            }

            img { // img dans le lien

            }
          }

          img { // img sans lien

          }

          figcaption {

          }
        }
      }

      // Carousel
      .elementor-image-carousel-wrapper {
        .swiper-pagination {

        }

        .elementor-swiper-button {


          &.elementor-swiper-button-prev {

          }

          &.elementor-swiper-button-next {

          }
        }
      }

      // Separateur
      .elementor-widget-divider {
        padding-top: 1em;
        padding-bottom: 1em;

        .elementor-divider-separator {

        }
      }

      // Citations
      .elementor-widget-blockquote {

        footer {


          cite {

          }
        }
      }

      // Icone
      .elementor-widget-icon {
        .elementor-icon {

        }

        &.elementor-view-stacked {
          .elementor-icon {

          }
        }

        &.elementor-view-framed {
          .elementor-icon {

          }
        }
      }

      // Icone box
      .elementor-widget-icon-box {
        .elementor-icon {

        }

        .elementor-icon-box-content {
          .elementor-icon-box-title {

          }

          .elementor-icon-box-description {

          }
        }
      }

      // Image
      .elementor-widget-image {
        .wp-caption {

        }
      }

      // Image box
      .elementor-widget-image-box {


        .elementor-image-box-title {

        }

        .elementor-image-box-description {
          a { // style de lien dans le contenu de la boîte d'image (reprendre le style de l'éditeur wysiwyg)

            &:hover {
              @media screen and(min-width: 992px) {

              }
            }
          }
        }
      }

      // Onglets
      .elementor-widget-tabs {
        .elementor-tabs-wrapper {
          .elementor-tab-title {

            &.elementor-active {

            }
          }
        }

        .elementor-tabs-content-wrapper {
          .elementor-tab-content {
            a { // style de lien dans le contenu de l'onglet (reprendre le style de l'éditeur wysiwyg)

              &:hover {
                @media screen and(min-width: 992px) {

                }
              }
            }
          }
        }
      }

      // Temoignage
      .elementor-widget-testimonial {

        .elementor-testimonial-content {

          &::before { // guillement ouvrant
            content: '“';
            position: absolute;

          }

          &::after { // guillement fermant
            content: '”';
            position: absolute;

          }
        }

        .elementor-testimonial-meta {
          .elementor-testimonial-details {
            .elementor-testimonial-name {


            }

            .elementor-testimonial-job {

            }
          }
        }
      }

      // GESTION DES COLONNES
      .elementor-column-gap-default {
        & > .elementor-row {
          & > .elementor-column {
            & > .elementor-element-populated {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }

      .elementor-row {
        display: flex;

        .elementor-column {
          &:first-of-type {
            padding-right: 15px;
          }

          &:last-of-type {
            padding-left: 15px;
          }

          &.elementor-col-50 {
            width: 50%;
          }

          &.elementor-col-100 {
            width: 100%;
            margin: 0;
          }

          &.elementor-col-60 {
            width: 60%;
          }

          &.elementor-col-40 {
            width: 40%;
          }
        }

      }

    }
  }
}