.page-wrapper {
  &.liste {
    .conteneur-cta {
      @include flex(null, center);
      flex-wrap: wrap;
      margin-bottom: 100px;

      .btn {
        margin: 5px 15px;

        &:not(.ancre) {
          @include button-outline-variant($titre-home);
        }

        &.ancre {
          i {
            margin-left: 10px;
          }
        }
      }
    }

    section.section-filtres {
      background: #c4d9e4;
      margin-top: 40px;

      .conteneur-filtres {
        position: relative;
        padding-top: 110px;
        padding-bottom: 75px;

        .titre-section {
          position: absolute;
          top: -50px;
          left: 50%;
          @include transform(translateX(-50%));
          @include title-section($primary, $alignment: center);
        }

        form.form-filtres {
          @include flex(center, center);
          flex-wrap: wrap;

          .form-group {
            position: relative;
            @include flex(flex-start, center, column);
            padding: 20px 15px;
            width: 33%;
            margin-bottom: 0;

            &.form-check {
              @include flex(flex-end, flex-start, row);
              //padding: 10px 15px;
              width: 33%;
              align-self: stretch;

              label {
                position: relative;
                @include font($typo-alt, 16px, 400, none);
                width: auto;
                margin-bottom: 0;
                padding-bottom: 0;
                cursor: pointer;
                padding-left: 30px;

                &::before {
                  @include pseudo-element(#fff, 0, null, $t: 3px, $l: 0, $width: 20px, $height: 20px);
                  @include border-radius(2px);
                  border: 2px solid #fff;
                  @include transition();
                }

                &::after {
                  display: none;
                }
              }

              input[type="checkbox"] {
                height: auto;
                padding: 0;
                width: auto;
                display: none;

                &:checked {
                  + label {
                    &::before {
                      background: $danger;
                    }
                  }
                }
              }
            }

            &.form-text {
              width: 50%;

              label {
                @include rgaa-hidden();
              }

              input {
                height: 50px;
                border: none;
                padding: 0 30px;
              }
            }

            label {
              position: relative;
              padding-left: 75px;
              @include font($typo-alt, 16px, 600, uppercase);
              width: 100%;
              margin-bottom: 5px;
              padding-bottom: 0;

              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 75px;
                right: 50px;
                height: 1px;
                background: #fff;
              }
            }

            select, .select2 .select2-selection, input {
              width: 100%;
              @include border-radius(40px);
              border-color: #fff;
            }

            select {
              &#document {
                + .select2 {
                  .select2-selection {
                    position: relative;

                    &::before {
                      @include pseudo-element(url('../img/pictos/files.png') no-repeat center center, null, $width: 75px);
                    }
                  }
                }
              }

              &#secteur {
                + .select2 {
                  .select2-selection {
                    position: relative;

                    &::before {
                      @include pseudo-element(url('../img/pictos/secteur.png') no-repeat center center, null, $width: 75px);
                    }
                  }
                }
              }

              &#mot {
                + .select2 {
                  .select2-selection {
                    position: relative;

                    &::before {
                      @include pseudo-element(url('../img/pictos/mot-cle.png') no-repeat center center, null, $width: 75px);
                    }
                  }
                }
              }

              &#categorie {
                + .select2 {
                  .select2-selection {
                    position: relative;

                    &::before {
                      @include pseudo-element(null, null, $width: 75px);
                      @include flex(center, center);
                      content: '\f02b';
                      @include font(#c4d9e4, 25px, 900, $f: "Font Awesome 5 Free");
                    }
                  }
                }
              }

              &#mois {
                + .select2 {
                  .select2-selection {
                    position: relative;

                    &::before {
                      @include pseudo-element(null, null, $width: 75px);
                      @include flex(center, center);
                      content: '\f073';
                      @include font(#c4d9e4, 25px, $f: "Font Awesome 5 Free");
                    }
                  }
                }
              }
            }

            .select2 {
              position: relative;

              &.select2-container--open {
                &::after {
                  @include transform(rotate(180deg));
                }
              }

              &::after {
                @include pseudo-element(url('../img/pictos/select.png') no-repeat center center, null, 'top right', $width: 50px);
              }

              .select2-selection {
                padding: 7px 60px 7px 70px;
                border-color: #fff;
                max-height: 50px;
                overflow-y: auto;

                .select2-selection__choice {
                  background: none;
                  border: none;
                  padding: 0;

                  .select2-selection__choice__remove {
                    float: right;
                    margin-left: 5px;
                  }
                }
              }
            }
          }

          .reinit {
            position: relative;
            @include font(rgba(37, 55, 74, 0.51), 13px, 500, null, italic);
            border-bottom: 1px solid rgba(37, 55, 74, 0.51);
            margin-left: 40px;
            @include transition();

            &:hover {
              @media screen and (min-width: 992px) {
                border-bottom: 1px solid transparent;
                &::before {
                  @include transform(rotate(360deg));
                }
              }
            }

            &::before {
              @include pseudo-element(url('../img/pictos/reinit.png') no-repeat center center, null, null, $t: 3px, $l: -25px, $width: 14px, $height: 15px);
            }
          }

          .btn-submit {
            @include button-outline-variant(#fff, #fff, #203967, $border-puce: #a0c8e2, $color-puce: #203967, $background: #a0c8e2);
            margin-left: 35px;
          }
        }
      }
    }

    section.indispensables {
      position: relative;
      background: #c4d9e4;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: #eeeeee;
        width: 100%;
        height: 50%;
      }

      .container-indispensables {
        position: relative;
        padding: 30px 35px;
        background: #fff;
      }

      .titre-section {
        position: relative;
        @include font($primary, 30px, bold, $a: center);
        padding-bottom: 10px;
        margin-bottom: 45px;

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 390px;
          height: 2px;
          background: $secondary;
          @include transform(translateX(-50%));
        }
      }

      .conteneur-indispensables {
        @include make-row();

        .conteneur-indispensable {
          @include make-col-ready();
          @include make-col(4);

          .indispensable {
            position: relative;
            @include flex(center);

            &:hover {
              @media screen and (min-width: 992px) {
                .titre-indispensable {
                  color: $danger;
                }
                .picto {
                  @include transform(rotate(15deg));
                }
              }
            }

            .picto {
              margin-right: 25px;
              flex-shrink: 0;
              @include transition();
            }

            .titre-indispensable {
              @include font($primary, 18px, 300px);
              @include transition(color);
            }
          }
        }
      }
    }

    section.section-liste {
      position: relative;
      background: #eeeeee;
      padding-top: 90px;

      .conteneur-liste {
        .conteneur-elements {
          @include make-row();

          .conteneur-element {
            @include make-col-ready();
            @include make-col(4);
            margin-bottom: 50px;

            .element {
              background: #fff;
              height: 100%;

              .conteneur-visuel {
                position: relative;
                display: block;

                &:hover {
                  @media screen and (min-width: 992px) {
                    .overlay {
                      opacity: 1;
                      @include transform(scale(1));
                    }
                  }
                }

                .visuel {
                  width: 100%;
                }

                .overlay {
                  position: absolute;
                  @include flex(center, center);
                  top: 20px;
                  left: 20px;
                  right: 20px;
                  bottom: 20px;
                  background: rgba($primary, 55%);
                  z-index: 1;
                  opacity: 0;
                  @include transform(scale(0));
                  @include transition();

                  .more {
                    background: #fff;
                    @include font($primary, 16px, 600);
                    padding: 2px 12px;
                  }

                }

                .conteneur-date {
                  position: absolute;
                  bottom: -15px;
                  right: 12px;
                  @include flex(center, center, column);
                  @include circle(70px);
                  background: $titre-home;
                  @include font(#fff, 18px, bold);
                  line-height: 1;
                  z-index: 2;
                }
              }

              .conteneur-detail {
                position: relative;
                padding: 40px 25px 10px 25px;

                .conteneur-date {
                  position: absolute;
                  top: -35px;
                  right: 12px;
                  @include flex(center, center, column);
                  @include circle(70px);
                  background: $titre-home;
                  @include font(#fff, 18px, bold);
                  line-height: 1;
                  z-index: 2;
                }

                .titre-element {
                  position: relative;
                  @include font($titre-home, 26px, 500);
                  border-bottom: 2px solid #f5ead0;
                  padding-bottom: 5px;

                  a {
                    color: inherit;
                    @include transition(color);

                    &:hover {
                      @media screen and (min-width: 992px) {
                        color: $danger;
                      }
                    }
                  }
                }

                .conteneur-infos {
                  padding-top: 10px;

                  .info {
                    @include flex(center);
                    margin-bottom: 15px;

                    .conteneur-picto {
                      flex-shrink: 0;
                      width: 45px;
                      text-align: left;

                      i {
                        font-size: 23px;
                        color: $primary;
                      }
                    }

                    .liste-info {
                      span {
                        position: relative;
                        @include font($typo, 16px, normal);
                      }

                      a {
                        position: relative;
                        @include font($primary, 16px, normal);
                        @include transition();

                        &:hover {
                          @media screen and (min-width: 992px) {
                            color: $danger;
                            &::after {
                              color: $primary;
                            }
                          }
                        }

                        &::after {
                          content: ',';
                          margin-right: 2px;
                        }

                        &:last-of-type {
                          &::after {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                .chapo-element {
                  margin-top: 10px;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  border-top: 1px solid #f5ead0;
                  @include font($primary, 15px, $s: italic);
                }

                .conteneur-bouton {
                  padding: 15px 0;

                  .more {
                    @include button-outline-variant($titre-home);
                  }
                }
              }
            }
          }
        }

        .conteneur-pagination {
          position: relative;
          @include flex(center, center);
          width: 100%;
          padding: 30px 0 60px 0;

          .pods-pagination-advanced {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
            margin-bottom: 0;

            .pods-pagination-number {
              position: relative;
              @include font($info, 18px, bold, $f: "Faune");
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              &:not(.pods-pagination-current) {
                position: relative;
                @include flex(center, center);
                background: transparent;
                border: 1px solid $gray-300;
                @include circle(35px);
                overflow: hidden;
                @include transition();

                &::after {
                  @include pseudo-element($primary, -1);
                  @include transform(scale(0));
                  @include circle(35px);
                  opacity: 0;
                }

                &:hover {
                  @media screen and(min-width: 992px) {
                    color: #fff;
                    &::after {
                      @include transform(scale(1));
                      opacity: 1;
                    }
                  }
                }
              }

              &.pods-pagination-current {
                @include font(#fff);
                @include flex(center, center);
                background: $primary;
                @include circle(35px);
                border: 1px solid $primary;
              }

              &.pods-pagination-next, &.pods-pagination-prev {
                @include flex(center, center);
                @include circle(35px);
                @include background(null, url('../img/pictos/angle-right.png'));
                border: none !important;

                &::after {
                  display: none;
                }

                i {
                  display: none;
                }
              }

              &.pods-pagination-next {
                margin-left: 5px;
              }

              &.pods-pagination-prev {
                margin-right: 5px;
                @include transform(rotate(180deg));

              }

            }
          }

          .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;
            margin-bottom: 0;

            li {
              position: relative;

              &.numero {
                @include font($primary, 18px, bold);
                margin-right: 10px;

                a {
                  position: relative;
                  @include flex(center, center);
                  color: inherit;
                  background: #fff;
                  border: 1px solid #fff;
                  @include circle(35px);
                  overflow: hidden;
                  @include transition();

                  &:hover {
                    @media screen and(min-width: 992px) {
                      color: #fff;
                      background: $primary;
                      border-color: $primary;
                    }
                  }
                }

                &.last {
                  margin-right: 0;
                }

                &.active {
                  @include font(#fff);

                  span {
                    @include flex(center, center);
                    background: $typo-alt;
                    @include circle(35px);
                    border: 1px solid $typo-alt;

                  }
                }
              }

              &.arrow {

                &.arrow-prev {
                  margin-right: 5px;

                  &:first-of-type {
                    a {
                      @include background(null, url('../img/pictos/angle-double-right.png'));
                    }
                  }

                  a {
                    @include flex(center, center);
                    @include circle(35px);
                    @include background(null, url('../img/pictos/angle-right-pagination.png'));
                    @include transform(rotate(180deg));
                  }
                }

                &.arrow-next {
                  margin-left: 5px;

                  a {
                    @include flex(center, center);
                    @include circle(35px);
                    @include background(null, url('../img/pictos/angle-right-pagination.png'));
                  }

                  &:last-of-type {
                    a {
                      @include background(null, url('../img/pictos/angle-double-right.png'));
                    }
                  }
                }

              }

            }
          }
        }

      }
    }

    section.success-stories {
      padding-top: 50px;

      .titre-section {
        @include title-section($primary, sm);
        margin-bottom: 30px;
      }

      .groupe-success-story {
        @include make-row();
        @include row-cols(1);

        .conteneur-story {
          @include make-col-ready();
          @include make-col(9);
          @include make-col-offset(2);
          padding: 0;

          &:nth-of-type(1) {
            z-index: 1;
          }

          &:nth-of-type(2) {
            margin-top: -115px;
            margin-bottom: 60px;

            .story {
              margin-left: -30px;

              .visuel {
                order: 2;
                margin-right: 0;
                -webkit-transform: translateX(-30px);
                -moz-transform: translateX(-30px);
                -ms-transform: translateX(-30px);
                -o-transform: translateX(-30px);
                transform: translateX(-30px);
              }

              .conteneur-detail {
                margin-top: 170px;
                margin-left: 30px;
                margin-right: 40px;
              }
            }
          }

          .story {
            display: flex;

            .visuel {
              flex-shrink: 0;
              margin-right: 40px;
            }

            .conteneur-detail {
              margin-top: 30px;
              color: $primary;

              .titre {
                font-size: 30px;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 15px;
              }

              .description {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 35px;
              }
            }
          }
        }
      }

      .footer-success-stories {
        @include flex(center, center);
        display: none;
        margin-top: 60px;
        margin-bottom: 30px;
      }
    }

    // CAS PARTICULIERS
    &.liste-evenements {
      section.section-filtres {
        margin-top: 60px;
      }

      section.section-liste {
        padding-top: 0;
        background: #fff;
        border-bottom: 1px solid #eeeeee;

        .conteneur-liste-calendrier {
          .row-liste-calendrier {
            @include make-row();
            position: relative;

            &::before {
              @include pseudo-element(#eeeeee, 0, null, $t: 0, $l: -100%, $width: 100%);
            }

            .conteneur-liste {
              @include make-col-ready();
              @include make-col(8);
              height: 80vh;
              overflow-y: auto;
              background: #eeeeee;
              padding-top: 30px;

              .conteneur-mois {
                position: relative;
                margin-bottom: 30px;

                .titre-mois {
                  @include titre-h3();
                  padding-bottom: 10px;
                  margin-bottom: 15px;
                  border-bottom: 1px solid $primary;
                }

                .conteneur-elements {
                  @include make-row();
                  margin-bottom: 30px;

                  .conteneur-element {
                    @include make-col-ready();
                    @include make-col(6);
                    margin-bottom: 25px;

                    .conteneur-detail {
                      padding: 20px 25px;

                      .conteneur-infos {
                        padding-top: 0;

                        .info {
                          margin-bottom: 5px;

                          &.info-categorie {
                            .conteneur-picto {
                              i {
                                font-size: 15px;
                              }
                            }
                          }

                          .conteneur-picto {
                            width: 30px;

                            i {
                              font-size: 17px;
                            }

                            img {
                              height: 16px;
                            }
                          }

                          .liste-info {
                            span {
                              font-size: 14px;
                            }
                          }
                        }
                      }

                    }
                  }
                }
              }
            }

            .conteneur-calendrier {
              @include make-col-ready();
              @include make-col(4);

              .calendrier {
                position: relative;
                @include flex(center, center);
                background: #fff;
                width: 100%;
                padding-top: 30px;

                .calendar {
                  header {
                    position: relative;
                    top: unset;
                    left: unset;
                    right: unset;
                    height: auto;
                    background: #fff;
                    z-index: 1;

                    .month {
                      font-size: 25px;
                    }
                  }

                  .event-container {
                    padding: 100px 0;

                    .close {
                      top: 70px;
                      right: 10px;
                    }
                  }

                  table {
                    thead {
                      th, td {
                        font-size: 1rem;
                      }
                    }
                  }

                  td {
                    padding: .4rem .1rem;
                  }

                  .day {
                    @include flex(center, center);
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;

                    &.today {
                      background: #fff;
                      border: 2px solid $secondary;
                      color: $secondary;
                    }

                    &.has-event {
                      background: $primary;
                      color: #fff;

                      &::after {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.liste-actualites {
      section.section-filtres {
        .conteneur-filtres {
          form.form-filtres {
            .form-group {
              width: 40%;

              &.form-text {
                width: 50%;
              }
            }
          }
        }
      }
    }

    &.liste-success-stories {
      section.section-filtres {
        .conteneur-filtres {
          .titre-section {
            width: 60%;
          }

          form.form-filtres {
            .form-group {
              width: 33%;

              &.form-text {
                width: 66%;
                align-self: flex-end;
              }
            }
          }
        }
      }
    }

    &.liste-projets {
      section.section-liste {
        .conteneur-liste {
          .conteneur-elements {
            .conteneur-element {
              .element {
                .conteneur-detail {
                  padding-top: 20px;
                }
              }
            }
          }

          .conteneur-pagination {
            position: relative;
            @include flex(center, center);
            width: 100%;
            padding: 30px 0 60px 0;

            .pods-pagination-advanced {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 0;
              margin-bottom: 0;

              .pods-pagination-number {
                position: relative;
                @include font($info, 18px, bold, $f: "Faune");
                margin-right: 10px;

                &:last-child {
                  margin-right: 0;
                }

                &:not(.pods-pagination-current) {
                  position: relative;
                  @include flex(center, center);
                  background: transparent;
                  border: 1px solid $gray-300;
                  @include circle(35px);
                  overflow: hidden;
                  @include transition();

                  &::after {
                    @include pseudo-element($primary, -1);
                    @include transform(scale(0));
                    @include circle(35px);
                    opacity: 0;
                  }

                  &:hover {
                    @media screen and(min-width: 992px) {
                      color: #fff;
                      &::after {
                        @include transform(scale(1));
                        opacity: 1;
                      }
                    }
                  }
                }

                &.pods-pagination-current {
                  @include font(#fff);
                  @include flex(center, center);
                  background: $primary;
                  @include circle(35px);
                  border: 1px solid $primary;
                }

                &.pods-pagination-next, &.pods-pagination-prev {
                  @include flex(center, center);
                  @include circle(35px);
                  @include background(null, url('../img/pictos/angle-right.png'));
                  border: none !important;

                  &::after {
                    display: none;
                  }

                  i {
                    display: none;
                  }
                }

                &.pods-pagination-next {
                  margin-left: 5px;
                }

                &.pods-pagination-prev {
                  margin-right: 5px;
                  @include transform(rotate(180deg));

                }

              }
            }

            .pagination {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 0;
              margin-bottom: 0;

              li {
                position: relative;

                &.numero {
                  @include font($primary, 18px, bold);
                  margin-right: 10px;

                  a {
                    position: relative;
                    @include flex(center, center);
                    color: inherit;
                    background: #fff;
                    border: 1px solid #fff;
                    @include circle(35px);
                    overflow: hidden;
                    @include transition();

                    &:hover {
                      @media screen and(min-width: 992px) {
                        color: #fff;
                        background: $primary;
                        border-color: $primary;
                      }
                    }
                  }

                  &.last {
                    margin-right: 0;
                  }

                  &.active {
                    @include font(#fff);

                    span {
                      @include flex(center, center);
                      background: $typo-alt;
                      @include circle(35px);
                      border: 1px solid $typo-alt;

                    }
                  }
                }

                &.arrow {

                  &.arrow-prev {
                    margin-right: 5px;

                    &:first-of-type {
                      a {
                        @include background(null, url('../img/pictos/angle-double-right.png'));
                      }
                    }

                    a {
                      @include flex(center, center);
                      @include circle(35px);
                      @include background(null, url('../img/pictos/angle-right-pagination.png'));
                      @include transform(rotate(180deg));
                    }
                  }

                  &.arrow-next {
                    margin-left: 5px;

                    a {
                      @include flex(center, center);
                      @include circle(35px);
                      @include background(null, url('../img/pictos/angle-right-pagination.png'));
                    }

                    &:last-of-type {
                      a {
                        @include background(null, url('../img/pictos/angle-double-right.png'));
                      }
                    }
                  }

                }

              }
            }
          }

        }
      }
    }

    &.liste-certifications {
      section.page {
        padding-top: 30px;

        .page-inner {
          .main-content {
            .titre-page {
              position: relative;
              top: unset;
              left: unset;
              margin-bottom: 30px;
            }
          }
        }
      }

      section.section-filtres {
        .conteneur-filtres {
          .titre-section {
            width: 60%;
          }
        }
      }

      section.section-liste {
        table.tableau-certifications {
          margin-bottom: 60px;
          background: #fff;
          width: 100%;

          thead {
            tr {
              td, th {
                background: $titre-home;
                @include font(#fff, 16px, 600, uppercase);
                border: 4px solid #fff !important;

              }
            }
          }

          tbody {
            tr {
              td {
                &:nth-of-type(2) {
                  @include font($secondary, 16px, 500, uppercase);
                }
              }
            }
          }

          tr {
            &:last-of-type {
              td, th {
                border-bottom: none;
              }
            }

            td, th {
              padding: 18px 23px;
              border-right: 1px solid #c5b691;
              border-bottom: 1px solid #c5b691;
            }

            th {
              @include font($primary, 17px, bold);
            }

            td {
              @include font($primary, 17px, normal);
              &:last-of-type {
                border-right: none;
              }
              .logo {
                min-width: 100px;
              }
            }
          }
        }
      }
    }
    &.resultats-recherche {
      section.page {
        padding-top: 30px;
        .page-inner {
          .main-content {
            .titre-page {
              position: relative;
              top: unset;
              left: unset;
              margin-bottom: 30px;
            }
          }
        }
      }
      section.section-liste {
        padding-top: 40px;
        .conteneur-liste {
          .titre-liste {
            @include titre-h2();
            margin-bottom: 60px;
          }
          .conteneur-resultats {
            .resultat {
              //padding-bottom: 10px;
              //border-bottom: 1px solid $danger;
              margin-bottom: 30px;
              background: #fff;
              .mot-recherche {
                background: $danger;
                color: #fff;
              }
              .header-resultat {
                display: block;
                margin-bottom: 20px;
                border-top: 5px solid $danger;
                .titre-resultat {
                  @include titre-h3();
                  display: block;
                  margin: 0 15px;
                  a {
                    position: relative;
                    display: inline-block;
                    color: inherit;
                    @include underline($primary, $danger, $height: 2px);
                  }
                }
                .type-element {
                  display: inline-block;
                  background: $danger;
                  @include font(#fff, 14px, bold, uppercase);
                  padding: 5px 10px;
                  margin-bottom: 10px;
                  text-align: center;

                }
              }
              .chapo-resultat {
                margin: 0 15px;
              }
              .more {
                @include button-outline-variant($danger);
                margin: 15px;
              }
            }
          }
        }
      }
    }
  }
}