.page-wrapper {
  &.single {

    &.single-offre-emploi {
      .page {
        .page-inner {
          .main-content {
            .titre-page {
              position: relative;
            }

            .zone-carateristiques {
              &.ligne {
                border-bottom: none;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .more-buttons {
        @include flex(center, center);

        .conteneur-cta {
          @include flex(null, center);
          flex-wrap: wrap;
          margin: 40px 0;

          .btn {
            margin: 5px 15px;

            &:not(.ancre) {
              @include button-outline-variant($titre-home);
            }

            &.ancre {
              i {
                margin-left: 10px;
              }
            }

            img {
              padding-bottom: 2px;
              margin-right: 10px;
            }

            &.pdf {
              &:not(.ancre) {
                @include button-outline-variant(#fff, #fff, #203967, $border-puce: #a0c8e2, $color-puce: #203967, $background: #a0c8e2);
              }
            }
          }
        }
      }
    }

    &.single-evenement {
      .zone-carateristiques {
        &.ligne {
          border-bottom: none;
          margin-bottom: 0;
        }
      }

      .conteneur-cta {
        @include flex(null, center);
        flex-wrap: wrap;
        margin: 30px 0;

        .btn {
          margin: 5px 15px;

          &:not(.ancre) {
            @include button-outline-variant($titre-home);
          }

          &.ancre {
            i {
              margin-left: 10px;
            }
          }
        }
      }
    }

    &.single-ressource {
      .conteneur-cta {
        @include flex(null, center);
        flex-wrap: wrap;
        margin: 40px 0;

        .btn {
          margin: 5px 15px;

          &.ancre {
            i {
              margin-left: 10px;
            }
          }

          img {
            padding-bottom: 2px;
            margin-right: 10px;
          }

          &.pdf {
            &:not(.ancre) {
              @include button-outline-variant(#fff, #fff, #203967, $border-puce: #a0c8e2, $color-puce: #203967, $background: #a0c8e2);
            }
          }
        }
      }
    }

    &.single-success {
      .page {
        .page-inner {
          .main-content {
            .conteneur-thumbnail {
              text-align: center;
              background-color: #e6e5e6;
            }
          }
        }
      }
    }

    &.page-404 {
      .page {
        .page-inner {
          .main-content {
            .titre-page {
              position: relative;
            }

            .more-buttons {
              @include flex(center, center);

              .conteneur-cta {
                @include flex(null, center);
                flex-wrap: wrap;
                margin: 40px 60px;

                .btn {
                  margin: 5px 15px;

                  &:not(.ancre) {
                    @include button-outline-variant($titre-home);
                  }

                  &.ancre {
                    i {
                      margin-left: 10px;
                    }
                  }

                  img {
                    padding-bottom: 2px;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.plan-du-site {
      .page {
        padding-top: 30px;
        .page-inner {
          .main-content {
            .titre-page {
              position: relative;
              top: unset;
              left: unset;
              margin-bottom: 30px;
            }
            .plan {
              .zone {
                margin: 15px 0;

               > ul { // a niveau 1
                  list-style-type: none;

                  > li {

                    > a {
                      position: relative;
                      text-transform: uppercase;
                      font-family: "Gilroy", sans-serif;
                      font-size: 17px;
                      font-weight: 600;
                      color: $typo;
                      margin: 25px 0;
                      transition: color 0.3s;
                      display: inline-block;
                      @include underline($primary, $height:3px);

                      &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 4px;
                        background: $primary;
                        -webkit-transition: all 300ms;
                        -moz-transition: all 300ms;
                        -ms-transition: all 300ms;
                        -o-transition: all 300ms;
                        transition: all 300ms;
                      }
                    }

                    > ul { // niveau 2

                      > li {
                        margin-bottom: 10px;
                        > a {
                          font-family: "Gilroy", sans-serif;
                          font-size: 16px;
                          font-weight: 500;
                          text-transform: uppercase;
                          color: $secondary;
                          transition: color 300ms;
                          display: inline-block;
                          padding-bottom: 2px;
                          margin: 0;

                          &:hover {
                            @include media-breakpoint-up(lg) {
                              color: #ff7525;
                              &::before {
                                display: none;
                              }
                            }
                          }
                        }

                        > ul { // niveau 3
                          > li {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            > a {
                              position: relative;
                              font-size: 14px;
                              color: $primary;
                              font-style: italic;
                              transition: color 300ms;
                              display: inline-block;

                              &:hover {
                                @include media-breakpoint-up(lg) {
                                  color: #0e192d;
                                  &::after{
                                    background-color: $primary;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }

    &.page-secteur, &.page-prestation {
      section.projets-recherche {
        padding-bottom: 120px;

        .header-recherche {
          @include flex(center, space-between);
          padding: 100px 0 50px 0;
          flex-wrap: wrap;

          .titre-section {
            @include titre-h2();
            margin: 0;
            margin-right: 30px;
          }

          .btn {
            @include button-outline-variant($titre-home);
          }
        }

        .conteneur-projets {
          @include make-row();

          .conteneur-projet {
            @include make-col-ready();
            @include make-col(4);

            .projet {
              @include flex(flex-start, null, column);
              height: 100%;

              .conteneur-detail {
                @include flex(flex-start, space-between, column);
                flex-grow: 1;

                .titre-projet {
                  @include font($primary, 23px, 500);
                  margin: 20px 0;
                }

                .btn.btn-secondary {
                  background: $titre-home;
                  border-color: $titre-home;

                  &:hover {
                    @media screen and (min-width: 992px) {
                      background: $primary;
                      border-color: $primary;
                    }
                  }
                }
              }
            }
          }
        }

        .footer-recherche {
          display: none;
        }
      }

      section.section-realisations {
        background: #efefef;
        overflow: hidden;

        .realisations {
          position: relative;
          padding-top: 55px;
          padding-bottom: 65px;

          .titre-section {
            position: absolute;
            top: 0;
            left: 0;
            @include title-section($primary);
            padding-right: 150px;
          }

          .conteneur-realisations {
            @include make-row();

            .conteneur-realisation {
              @include make-col-ready();
              @include make-col(4);

              &:first-of-type {
                .realisation {
                  margin-top: 60px;
                }
              }

              &:last-of-type {
                .realisation {
                  margin-top: 85px;
                }
              }

              .realisation {
                position: relative;
                display: block;

                &:hover {
                  @media screen and (min-width: 1261px) {
                    .conteneur-detail {
                      @include transform(translate(-50%, 0));
                      opacity: 1;
                    }
                  }
                }

                .conteneur-visuel {

                }

                .conteneur-detail {
                  position: absolute;
                  @include flex(center, null, column);
                  width: 245px;
                  background: #fff;
                  padding: 15px;
                  bottom: -35px;
                  left: 50%;
                  opacity: 0;
                  @include transform(translate(-50%, 50px));
                  @include transition();

                  .titre-realisation {
                    @include font($danger, 26px, 500, uppercase, $a: center);
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }

          .footer-realisations {
            @include flex(center, center, column);
            text-align: center;
            padding-top: 25px;

            .nav-slider {
              display: none;
              margin-bottom: 40px;
            }

            .btn {
              @include button-outline-variant($danger, $border-puce: #efefef);
            }
          }
        }
      }
    }

    &.page-prestation {
      .conteneur-contact {
        @include flex(null, center);
        margin: 50px 0;

        .btn {
          margin: 5px 15px;
          @include button-outline-variant($titre-home);
        }
      }
      section.section-realisations {
        margin-top: 100px;
      }
    }

    .conteneur-carrefour {
      padding-top: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid $secondary;

      .titre-carrefour {
        @include titre-h2();
        margin-top: 0;
        margin-bottom: 30px;
      }

      .liste-enfants {
        @include make-row();
        @include row-cols(2);

        .conteneur-enfant {
          @include make-col-ready();
          margin-bottom: 30px;

          .enfant {
            position: relative;
            display: block;
            padding: 5px 10px;
            text-align: center;

            &::before {
              @include pseudo-element(transparent, -1, $width: 0, $height: 0);
              border-left: 1px solid $danger;
              border-top: 1px solid $danger;
            }

            &::after {
              @include pseudo-element(transparent, -1, 'bottom right', $width: 0, $height: 0);
              border-right: 1px solid $danger;
              border-bottom: 1px solid $danger;
            }

            &:hover {
              @media screen and (min-width: 992px) {
                &::before, &::after {
                  width: 100%;
                  height: 100%;
                  border-color: $primary;
                }
              }
            }

            .titre-enfant {
              @include font($danger, 27px, bold);
              margin-bottom: 15px;
              @include transition(color);

              &:hover {
                @media screen and (min-width: 992px) {
                  color: $primary;
                }
              }
            }

            .btn-more {
              @include button-outline-variant($danger);
              margin-bottom: 15px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .zone-carateristiques {
      @include flex(center, flex-end);
      position: relative;
      border-bottom: 1px solid $titre-home;
      margin-bottom: 40px;

      .date {
        @include flex(center, null, column);
        line-height: 90%;
        position: absolute;
        background-color: $titre-home;
        color: #FFF;
        border-radius: 50%;
        left: 18px;
        top: -75px;
        width: 70px;
        height: 70px;
        padding: 18px 10px 10px 10px;
        font-weight: bold;
        font-size: 18px;
      }

      .caracteristique {
        display: flex;
        color: $primary;
        padding-bottom: 20px;
        margin-right: 45px;
        align-items: center;

        img {
          margin-right: 20px;
          flex-shrink: 0
        }

        .liste-carac {
          display: flex;
          flex-wrap: wrap;
        }

        .secteur {
          &::after {
            content: ",";
            margin-right: 5px;
          }
        ;

          &:last-child {
            &::after {
              display: none;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .retour {
      padding: 3px 15px;

      img {
        margin-right: 10px;
      }
    }

  }
}