
$direction-map: (
        'ltr',
        'rtl',
        'btt',
        'ttb'
);

$entree-map: (
        'in',
        'out'
);

//MIXIN SLIDE
@mixin slide-ltr {
  &:before {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    height: 100%;
    width: 0;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}

@mixin slide-rtl {
  &:before {
    top: 0;
    right: inherit;
    left: 0;
    bottom: inherit;
    height: 100%;
    width: 0;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        right: 0;
        left: auto;
        width: 100%;
      }
    }
  }
}

@mixin slide-btt {
  &:before {
    top: 0;
    right: 0;
    left: 0;
    bottom: inherit;
    width: 100%;
    height: 0;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        bottom: 0;
        top: auto;
        height: 100%;
      }
    }
  }
}

@mixin slide-ttb {
  &:before {
    bottom: 0;
    right: 0;
    left: 0;
    top: inherit;
    width: 100%;
    height: 0;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        top: 0;
        bottom: auto;
        height: 100%;
      }
    }
  }
}

//MIXIN RECT
@mixin rect-ltr {
  &:before {
    top: 0;
    left: 0;
    right: inherit;
    bottom: inherit;
    height: 0%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@mixin rect-rtl {
  &:before {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    height: 0%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@mixin rect-btt {
  &:before {
    top: inherit;
    right: 0;
    left: inherit;
    bottom: 0;
    height: 0%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@mixin rect-ttb {
  &:before {
    top: inherit;
    right: inherit;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//MIXIN GOBACK
@mixin goback-ltr {
  &:before {
    top: 0;
    left: 0;
    right: inherit;
    bottom: 0;
    height: 100%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
      }
    }
  }
}

@mixin goback-rtl {
  &:before {
    top: 0;
    left: inherit;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        width: 100%;
      }
    }
  }
}

@mixin goback-btt {
  &:before {
    top: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        height: 100%;
      }
    }
  }
}

@mixin goback-ttb {
  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: inherit;
    height: 0%;
    width: 100%;
  }
  &:hover {
    @media screen and (min-width: 992px) {
      &::before {
        height: 100%;
      }
    }
  }
}

//MIXIN FADELINE
@mixin fadeline-in($color) {
  background: transparent;
  border: none;
  color: white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $color;
    transition: all 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid $color;
    transform: scale(1.2, 1.2);
  }
  &:hover {
    @media screen and (min-width: 992px){
      color: $color;
      &:before {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
      &:after {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
}

@mixin fadeline-out($color) {
  background: transparent;
  border: none;
  color: $color;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $color;
    opacity: 0;
    transform: scale(0.5, 0.5);
    transition: all 0.3s;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transform: scale(1, 1);
    transition: all 0.3s;
    border: 1px solid $color;
  }
  &:hover {
    @media screen and (min-width: 992px){
      color: white;
      &:before {
        opacity: 1;
        transform: scale(1, 1);
      }
      &:after {
        opacity: 0;
        transform: scale(1.2, 1.2);
      }
    }
  }
}

//MIXIN FLIP
@mixin flip-in($color) {
  color: #fff;
  &:hover {
    @media screen and (min-width: 992px){
      &:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      span{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
  }
  &:after {
    content: attr(data-flipped);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: $color;
    transition: all 300ms;
    background: white;
    transform: translateY(-50%) rotateX(90deg);
  }
  span{
    display: inline-block;
    opacity: 1;
    transition: all 300ms;
  }
}

@mixin flip-out($color) {
  color: #fff;
  &:hover {
    @media screen and (min-width: 992px) {
      &:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      span{
        opacity: 0;
        transform: translateY(-50%) rotateX(90deg);
      }
    }
  }
  &:after {
    content: attr(data-flipped);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: $color;
    transition: all 300ms;
    background: white;
    transform: translateY(50%) rotateX(90deg);
  }
  span{
    display: inline-block;
    opacity: 1;
    transition: all 300ms;
  }
}


//MIXIN ARRONDI
@mixin arrondi-in($color){
  border-radius: 30px;
  border: 2px solid $color;
  &:hover{
    @media screen and (min-width: 992px) {
      color: $color;
      background: white;
      border-radius: 0;
    }
  }
}

@mixin arrondi-out($color){
  border-radius: 0;
  border: 2px solid $color;
  background: white;
  color: $color;
  &:hover{
    @media screen and (min-width: 992px) {
      color: white;
      background: $color;
      border-radius: 30px;
    }
  }
}



.btn {
  @each $color, $value in $theme-colors {

    //ANIMATIONS AVEC UNE ENTREE/SORTIE
    @each $methode in $entree-map {
      &.fadeline-#{$methode}-#{$color}, &.flip-#{$methode}-#{$color}, &.arrondi-#{$methode}-#{$color} {
        position: relative;
        transition: all 300ms;
        z-index: 1;
      }
      &.fadeline-#{$methode}-#{$color} {
        @if ($methode == 'in') {
          @include fadeline-in($value);
        }
        @if ($methode == 'out') {
          @include fadeline-out($value);
        }
      }
      &.flip-#{$methode}-#{$color} {
        @if ($methode == 'in') {
          @include flip-in($value);
        }
        @if ($methode == 'out') {
          @include flip-out($value);
        }
      }
      &.arrondi-#{$methode}-#{$color} {
        @if ($methode == 'in') {
          @include arrondi-in($value);
        }
        @if ($methode == 'out') {
          @include arrondi-out($value);
        }
      }
    }

    //ANIMATIONS AVEC DIRECTION
    @each $direction in $direction-map {
      &.slide-#{$direction}-#{$color}, &.rect-#{$direction}-#{$color}, &.goback-#{$direction}-#{$color} {
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: all 300ms;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          background: #ffffff;
          transition: all 300ms;
        }

        &:focus, &:active {
          color: $value;
          background-color: #ffffff;
          border-color: $value;

          .fa-circle-notch {
            color: $value;
          }
        }

        &:hover {
          @media screen and (min-width: 992px) {
            color: $value;
          }
        }

      }
      &.slide-#{$direction}-#{$color} {
        @if ($direction == 'ltr') {
          @include slide-ltr;
        }
        @if ($direction == 'rtl') {
          @include slide-rtl;
        }
        @if ($direction == 'btt') {
          @include slide-btt;
        }
        @if ($direction == 'ttb') {
          @include slide-ttb;
        }
      }
      &.rect-#{$direction}-#{$color} {
        @if ($direction == 'ltr') {
          @include rect-ltr;
        }
        @if ($direction == 'rtl') {
          @include rect-rtl;
        }
        @if ($direction == 'btt') {
          @include rect-btt;
        }
        @if ($direction == 'ttb') {
          @include rect-ttb;
        }
      }
      &.goback-#{$direction}-#{$color} {
        @if ($direction == 'ltr') {
          @include goback-ltr;
        }
        @if ($direction == 'rtl') {
          @include goback-rtl;
        }
        @if ($direction == 'btt') {
          @include goback-btt;
        }
        @if ($direction == 'ttb') {
          @include goback-ttb;
        }
      }
    }

  }

}