//SPIN UP
.animicon-spinup {
  transition: all 300ms;
  i{
    transition: all 300ms;
  }
  &:hover{
    @media screen and (min-width: 992px) {
      transform: translateY(-4px);
      i{
        transform: rotateY(360deg);
      }
    }
  }
}

//SPIN
.animicon-spin {
  transition: all 300ms;
  i{
    transition: all 300ms;
  }
  &:hover{
    @media screen and (min-width: 992px) {
      i{
        transform: rotateY(360deg);
      }
    }
  }
}

//SPIN ONCE
.animicon-spinonce {
  transition: all 300ms;
  i{
    transition: all 300ms;
  }
  &:hover{
    @media screen and (min-width: 992px) {
      i{
        animation-name: spinY;
        animation-duration: 300ms;
      }
    }
  }
}

@keyframes spinY {
  100%{
    transform: rotateY(360deg);
  }
}

@each $color,$color-value in $theme-colors{
  //ZOOM COLOR
  .animicon-zoomcolor-#{$color}{
    i{
      transition: all 300ms;
    }
    &:hover{
      @media screen and (min-width: 992px) {
        i{
          transform: scale(1.1);
          color: $color-value;
        }
      }
    }
  }
  //COLOR
  .animicon-color-#{$color}{
    i{
      transition: all 300ms;
    }
    &:hover{
      @media screen and (min-width: 992px) {
        i{
          color: $color-value;
        }
      }
    }
  }
}

//ZOOM
.animicon-zoom{
  i{
    transition: all 300ms;
  }
  &:hover{
    @media screen and (min-width: 992px) {
      i{
        transform: scale(1.1);
      }
    }
  }
}
